In [1]:
import os
root_dir = f"{os.getcwd().split('TSM-Bench')[0]}/TSM-Bench"
os.chdir(root_dir)
os.getcwd()

'/home/luca/test/TSM-Bench'

In [2]:
import os
import pandas
import systems

from systems import (clickhouse, questdb , extremedb, druid, timescaledb, influx , monetdb)

In [3]:
def load_query_file(system):
    path = os.path.dirname(system.__file__)
    with open(f'{path}/queries.sql') as file: 
        queries = [line.rstrip() for line in file]
    return queries

In [34]:
# settings
n_sensors = [1]# , 10,20,30,40,50,60,70,80,90,100]
n_stations =  [1]# ,2,3,4,5,6,7,8,9,10] 
time_ranges = ["Minute","Hour","Day","Week","Month"]
dataset = "d1"

n_iter = 4
timeout = 1000

scenarios  = [(sensor, station, time_range) for sensor in n_sensors for station in n_stations for time_range in time_ranges]
scenarios

[(1, 1, 'Minute'),
 (1, 1, 'Hour'),
 (1, 1, 'Day'),
 (1, 1, 'Week'),
 (1, 1, 'Month')]

In [35]:
def load_query_file(system):
    path = os.path.dirname(system.__file__)
    with open(f'{path}/queries.sql') as file: 
                queries = [line.rstrip() for line in file]
    return queries

In [36]:
systems = (questdb, clickhouse , extremedb, timescaledb, influx , monetdb)
output_file = "results/parameters.txt"

for system in systems:
    system.launch()
    system_name = system.__file__.split("/")[-2]
    queries = load_query_file(system)
    print(queries)
    for i ,query in enumerate(queries):
        query = query.replace("<db>", dataset)
        for n_s, n_st, time_range in scenarios:
            time , var = system.run_query(query , rangeUnit=time_range , rangeL = 1 , n_s=n_s , n_it=n_iter , n_st = n_st) 
            with open(output_file, "a") as file:
                line = f"{time} , {var}  , {i} , {n_s} , {n_st} , {time_range} , {system_name} \n"
                print(line)
                file.write(line)
    system.stop()

launching questdb
/home/luca/test/TSM-Bench/systems/questdb/run_system.py
changing directory to /home/luca/test/TSM-Bench/systems/questdb
["select ts, id_station, <sid> FROM <db> where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L", "select ts, id_station, <sid> FROM <db> where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L and <sfilter>;", "SELECT id_station, <avg_s> FROM <db> WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> GROUP BY id_station;", "SELECT id_station, ts, <avg_s> FROM <db> WHERE ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 1h;", "SELECT id_station, ts, <avg_s> FROM <db> WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 5s FILL(LINEAR) GROUP BY ts, id_station ORDER BY ts;", "SELECT ts, s<sid1> as s_1, s<sid2> as s_2, (s<sid1>+ s<sid2>)/2 from d1 WHERE ts > TIMESTAMP '<timestamp>' - <range>*<rangesUnit>* 1000000L AND ts < TIMESTAMP '<timestamp>' AND id_station in <stid>;", "SELECT ((SUM(s<sid1> * s<sid2>) - (SUM(s<sid1>) * SUM(s<sid2>)) / COUNT())) / (SQRT(SUM(s<sid1> * s<sid1>) - (SUM(s<sid1>) * SUM (s<sid1>)) / COUNT()) * SQRT(SUM(s<sid2> * s<sid2>) - (SUM(s<sid2>) * SUM(s<sid2>)) / COUNT() )) AS pearson_corr FROM d1 WHERE  id_station=<stid> AND ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L;"]

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 45.48it/s]

21.489302317301433 , 19.90762996461749  , 0 , 1 , 1 , Minute , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 132.78it/s]

7.3308149973551435 , 3.485247122136897  , 0 , 1 , 1 , Hour , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  9.86it/s]

100.49168268839519 , 89.32968245331494  , 0 , 1 , 1 , Day , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  6.57it/s]

150.79387029012045 , 13.968986913318705  , 0 , 1 , 1 , Week , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:01<00:00,  2.24it/s]

445.6530412038167 , 49.915026681681404  , 0 , 1 , 1 , Month , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 298.53it/s]

3.1995773315429688 , 2.9378922939252208  , 1 , 1 , 1 , Minute , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L and <sfilter>;

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 345.99it/s]

2.634127934773763 , 0.6407006525710585  , 1 , 1 , 1 , Hour , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L and <sfilter>;

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 137.47it/s]

7.079839706420898 , 6.850280316675413  , 1 , 1 , 1 , Day , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L and <sfilter>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 94.97it/s]

10.27536392211914 , 0.8380343869657612  , 1 , 1 , 1 , Week , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L and <sfilter>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 20.26it/s]

48.78314336140951 , 13.412944265746209  , 1 , 1 , 1 , Month , questdb , select ts, id_station, <sid> FROM d1 where id_station in <stid> AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L and <sfilter>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 32.21it/s]

30.723174413045246 , 4.1994628664658755  , 2 , 1 , 1 , Minute , questdb , SELECT id_station, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 33.30it/s]

29.62215741475423 , 0.9746492122691907  , 2 , 1 , 1 , Hour , questdb , SELECT id_station, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 30.95it/s]

31.88610076904297 , 3.218326260839455  , 2 , 1 , 1 , Day , questdb , SELECT id_station, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 19.23it/s]

51.18083953857422 , 0.7853997628699088  , 2 , 1 , 1 , Week , questdb , SELECT id_station, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  6.39it/s]

154.5532544453939 , 1.1964318545553312  , 2 , 1 , 1 , Month , questdb , SELECT id_station, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 30.77it/s]

32.13032086690267 , 1.8825088394399196  , 3 , 1 , 1 , Minute , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 1h;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 31.35it/s]

31.456391016642254 , 0.3616225407672258  , 3 , 1 , 1 , Hour , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 1h;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  6.32it/s]

156.27193450927734 , 1.8184778642199442  , 3 , 1 , 1 , Day , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 1h;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.09it/s]

917.4370765686035 , 1.5891217493698062  , 3 , 1 , 1 , Week , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 1h;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:11<00:00,  3.82s/it]

3822.8444258371987 , 29.954816231809705  , 3 , 1 , 1 , Month , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 1h;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 18.46it/s]

53.30022176106771 , 5.096424830147879  , 4 , 1 , 1 , Minute , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 5s FILL(LINEAR) GROUP BY ts, id_station ORDER BY ts;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 17.93it/s]

54.905335108439125 , 1.7571322683484762  , 4 , 1 , 1 , Hour , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 5s FILL(LINEAR) GROUP BY ts, id_station ORDER BY ts;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 10.13it/s]

97.71339098612468 , 10.189587595179923  , 4 , 1 , 1 , Day , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 5s FILL(LINEAR) GROUP BY ts, id_station ORDER BY ts;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  3.24it/s]

306.4539432525635 , 27.79843879709091  , 4 , 1 , 1 , Week , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 5s FILL(LINEAR) GROUP BY ts, id_station ORDER BY ts;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:03<00:00,  1.09s/it]

1083.4397474924724 , 59.324953258674014  , 4 , 1 , 1 , Month , questdb , SELECT id_station, ts, <avg_s> FROM d1 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 5s FILL(LINEAR) GROUP BY ts, id_station ORDER BY ts;

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 147.59it/s]

6.375471750895183 , 8.813357912796246  , 5 , 1 , 1 , Minute , questdb , SELECT ts, s<sid1> as s_1, s<sid2> as s_2, (s<sid1>+ s<sid2>)/2 from d1 WHERE ts > TIMESTAMP '<timestamp>' - <range>*<rangesUnit>* 1000000L AND ts < TIMESTAMP '<timestamp>' AND id_station in <stid>;

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 299.34it/s]

3.1086603800455728 , 0.5147952009897058  , 5 , 1 , 1 , Hour , questdb , SELECT ts, s<sid1> as s_1, s<sid2> as s_2, (s<sid1>+ s<sid2>)/2 from d1 WHERE ts > TIMESTAMP '<timestamp>' - <range>*<rangesUnit>* 1000000L AND ts < TIMESTAMP '<timestamp>' AND id_station in <stid>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 39.62it/s]

25.059620539347332 , 3.293499998456056  , 5 , 1 , 1 , Day , questdb , SELECT ts, s<sid1> as s_1, s<sid2> as s_2, (s<sid1>+ s<sid2>)/2 from d1 WHERE ts > TIMESTAMP '<timestamp>' - <range>*<rangesUnit>* 1000000L AND ts < TIMESTAMP '<timestamp>' AND id_station in <stid>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  5.23it/s]

189.9906794230143 , 36.20283533627795  , 5 , 1 , 1 , Week , questdb , SELECT ts, s<sid1> as s_1, s<sid2> as s_2, (s<sid1>+ s<sid2>)/2 from d1 WHERE ts > TIMESTAMP '<timestamp>' - <range>*<rangesUnit>* 1000000L AND ts < TIMESTAMP '<timestamp>' AND id_station in <stid>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.50it/s]

666.5573120117188 , 96.43159403787628  , 5 , 1 , 1 , Month , questdb , SELECT ts, s<sid1> as s_1, s<sid2> as s_2, (s<sid1>+ s<sid2>)/2 from d1 WHERE ts > TIMESTAMP '<timestamp>' - <range>*<rangesUnit>* 1000000L AND ts < TIMESTAMP '<timestamp>' AND id_station in <stid>;

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 345.20it/s]

2.7229785919189453 , 2.5632397627982844  , 6 , 1 , 1 , Minute , questdb , SELECT ((SUM(s<sid1> * s<sid2>) - (SUM(s<sid1>) * SUM(s<sid2>)) / COUNT())) / (SQRT(SUM(s<sid1> * s<sid1>) - (SUM(s<sid1>) * SUM (s<sid1>)) / COUNT()) * SQRT(SUM(s<sid2> * s<sid2>) - (SUM(s<sid2>) * SUM(s<sid2>)) / COUNT() )) AS pearson_corr FROM d1 WHERE  id_station=<stid> AND ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L;

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 360.44it/s]

2.5610923767089844 , 1.2264665365658893  , 6 , 1 , 1 , Hour , questdb , SELECT ((SUM(s<sid1> * s<sid2>) - (SUM(s<sid1>) * SUM(s<sid2>)) / COUNT())) / (SQRT(SUM(s<sid1> * s<sid1>) - (SUM(s<sid1>) * SUM (s<sid1>)) / COUNT()) * SQRT(SUM(s<sid2> * s<sid2>) - (SUM(s<sid2>) * SUM(s<sid2>)) / COUNT() )) AS pearson_corr FROM d1 WHERE  id_station=<stid> AND ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L;

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 156.43it/s]

6.137450536092122 , 2.4893338799785125  , 6 , 1 , 1 , Day , questdb , SELECT ((SUM(s<sid1> * s<sid2>) - (SUM(s<sid1>) * SUM(s<sid2>)) / COUNT())) / (SQRT(SUM(s<sid1> * s<sid1>) - (SUM(s<sid1>) * SUM (s<sid1>)) / COUNT()) * SQRT(SUM(s<sid2> * s<sid2>) - (SUM(s<sid2>) * SUM(s<sid2>)) / COUNT() )) AS pearson_corr FROM d1 WHERE  id_station=<stid> AND ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 66.92it/s]

14.608144760131836 , 2.6529487527450843  , 6 , 1 , 1 , Week , questdb , SELECT ((SUM(s<sid1> * s<sid2>) - (SUM(s<sid1>) * SUM(s<sid2>)) / COUNT())) / (SQRT(SUM(s<sid1> * s<sid1>) - (SUM(s<sid1>) * SUM (s<sid1>)) / COUNT()) * SQRT(SUM(s<sid2> * s<sid2>) - (SUM(s<sid2>) * SUM(s<sid2>)) / COUNT() )) AS pearson_corr FROM d1 WHERE  id_station=<stid> AND ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 21.37it/s]

45.92974980672201 , 3.0270812274493237  , 6 , 1 , 1 , Month , questdb , SELECT ((SUM(s<sid1> * s<sid2>) - (SUM(s<sid1>) * SUM(s<sid2>)) / COUNT())) / (SQRT(SUM(s<sid1> * s<sid1>) - (SUM(s<sid1>) * SUM (s<sid1>)) / COUNT()) * SQRT(SUM(s<sid2> * s<sid2>) - (SUM(s<sid2>) * SUM(s<sid2>)) / COUNT() )) AS pearson_corr FROM d1 WHERE  id_station=<stid> AND ts < '<timestamp>' AND ts >  '<timestamp>' - <range>*<rangesUnit>* 1000000L;

/home/luca/test/TSM-Bench/systems/questdb/run_system.py
changing directory to /home/luca/test/TSM-Bench/systems/questdb
/home/luca/test/TSM-Bench/systems/clickhouse/run_system.py
changing directory to /home/luca/test/TSM-Bench/systems/clickhouse
["select time, id_station, <sid> FROM <db> where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';", "select time, id_station, <sid> FROM <db> where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' and <sfilter>;", "SELECT id_station, <avg_s> FROM <db> WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station;", 'SELECT id_station, EXTRACT(YEAR FROM time) AS "year", date_trunc(\'month\', time) AS "month", date_trunc(\'day\', time) AS "day", date_trunc(\'hour\', time) AS "hour", <avg_s> FROM <db> where  time > TIMESTAMP \'<timestamp>\' - INTERVAL \'<range>\' <rangesUnit> AND time < TIMESTAMP \'<timestamp>\' AND id_station in <stid> GROUP BY id_station, "year", "month", "day", "hour";', "select time, id_station, <sid> FROM <db> where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' ORDER BY  time ASC WITH FILL STEP 5 INTERPOLATE ( <sid>, id_station AS id_station );", "with data1 as ( select time, s<sid1> as s_1, s<sid2> as s_2 from <db> WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> ) select data1.time, s_1, s_2, (s_1 + s_2)/2 as avg from data1;", "SELECT corr(s<sid1>, s<sid2>) FROM <db> WHERE id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';", '']

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 71.83it/s]

13.55274518330892 , 8.309641980094128  , 0 , 1 , 1 , Minute , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 73.83it/s]

13.303836186726889 , 0.9780345197604812  , 0 , 1 , 1 , Hour , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 20.97it/s]

47.146876653035484 , 7.284046265459107  , 0 , 1 , 1 , Day , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  4.72it/s]

210.04080772399902 , 11.331971657617935  , 0 , 1 , 1 , Week , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.17it/s]

851.9968191782633 , 13.600303422518007  , 0 , 1 , 1 , Month , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 113.72it/s]

8.53268305460612 , 4.21453576549614  , 1 , 1 , 1 , Minute , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' and <sfilter>;

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 116.31it/s]

8.431116739908854 , 0.035053477572154136  , 1 , 1 , 1 , Hour , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' and <sfilter>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 74.93it/s]

13.115326563517252 , 1.3022114251172874  , 1 , 1 , 1 , Day , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' and <sfilter>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 33.38it/s]

29.726425806681316 , 6.521394967479187  , 1 , 1 , 1 , Week , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' and <sfilter>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 12.26it/s]

80.84758122762044 , 5.909813635073039  , 1 , 1 , 1 , Month , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' and <sfilter>;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 92.28it/s]

10.59428850809733 , 3.236005604418686  , 2 , 1 , 1 , Minute , clickhouse , SELECT id_station, <avg_s> FROM d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 46.11it/s]

21.37303352355957 , 22.246159311028563  , 2 , 1 , 1 , Hour , clickhouse , SELECT id_station, <avg_s> FROM d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 80.48it/s]

12.20560073852539 , 1.1324644588179802  , 2 , 1 , 1 , Day , clickhouse , SELECT id_station, <avg_s> FROM d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 57.17it/s]

17.214616139729817 , 2.5590397642393805  , 2 , 1 , 1 , Week , clickhouse , SELECT id_station, <avg_s> FROM d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 28.83it/s]

33.80322456359863 , 8.073012329436104  , 2 , 1 , 1 , Month , clickhouse , SELECT id_station, <avg_s> FROM d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 93.72it/s]

10.496218999226889 , 3.5485481920914173  , 3 , 1 , 1 , Minute , clickhouse , SELECT id_station, EXTRACT(YEAR FROM time) AS "year", date_trunc('month', time) AS "month", date_trunc('day', time) AS "day", date_trunc('hour', time) AS "hour", <avg_s> FROM d1 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station, "year", "month", "day", "hour";

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 100.93it/s]

9.773572285970053 , 1.2793932907071042  , 3 , 1 , 1 , Hour , clickhouse , SELECT id_station, EXTRACT(YEAR FROM time) AS "year", date_trunc('month', time) AS "month", date_trunc('day', time) AS "day", date_trunc('hour', time) AS "hour", <avg_s> FROM d1 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station, "year", "month", "day", "hour";

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 62.65it/s]

15.783071517944336 , 1.3647861053469945  , 3 , 1 , 1 , Day , clickhouse , SELECT id_station, EXTRACT(YEAR FROM time) AS "year", date_trunc('month', time) AS "month", date_trunc('day', time) AS "day", date_trunc('hour', time) AS "hour", <avg_s> FROM d1 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station, "year", "month", "day", "hour";

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 34.06it/s]

29.13347880045573 , 3.3849048795107333  , 3 , 1 , 1 , Week , clickhouse , SELECT id_station, EXTRACT(YEAR FROM time) AS "year", date_trunc('month', time) AS "month", date_trunc('day', time) AS "day", date_trunc('hour', time) AS "hour", <avg_s> FROM d1 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station, "year", "month", "day", "hour";

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 18.33it/s]

53.78452936808268 , 2.833149457064272  , 3 , 1 , 1 , Month , clickhouse , SELECT id_station, EXTRACT(YEAR FROM time) AS "year", date_trunc('month', time) AS "month", date_trunc('day', time) AS "day", date_trunc('hour', time) AS "hour", <avg_s> FROM d1 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> GROUP BY id_station, "year", "month", "day", "hour";

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 110.11it/s]

8.89730453491211 , 1.8096909197088553  , 4 , 1 , 1 , Minute , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' ORDER BY  time ASC WITH FILL STEP 5 INTERPOLATE ( <sid>, id_station AS id_station );

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 70.15it/s]

14.014959335327148 , 0.5795970369082587  , 4 , 1 , 1 , Hour , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' ORDER BY  time ASC WITH FILL STEP 5 INTERPOLATE ( <sid>, id_station AS id_station );

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 12.27it/s]

80.9030532836914 , 3.2642430636781516  , 4 , 1 , 1 , Day , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' ORDER BY  time ASC WITH FILL STEP 5 INTERPOLATE ( <sid>, id_station AS id_station );

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:01<00:00,  2.45it/s]

405.716339747111 , 8.636807938539752  , 4 , 1 , 1 , Week , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' ORDER BY  time ASC WITH FILL STEP 5 INTERPOLATE ( <sid>, id_station AS id_station );

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:05<00:00,  1.69s/it]

1689.2464955647786 , 30.029796662008824  , 4 , 1 , 1 , Month , clickhouse , select time, id_station, <sid> FROM d1 where id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' ORDER BY  time ASC WITH FILL STEP 5 INTERPOLATE ( <sid>, id_station AS id_station );

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 81.97it/s]

11.849482854207357 , 4.4675900553885315  , 5 , 1 , 1 , Minute , clickhouse , with data1 as ( select time, s<sid1> as s_1, s<sid2> as s_2 from d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> ) select data1.time, s_1, s_2, (s_1 + s_2)/2 as avg from data1;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 73.02it/s]

13.442516326904297 , 0.20162389807737158  , 5 , 1 , 1 , Hour , clickhouse , with data1 as ( select time, s<sid1> as s_1, s<sid2> as s_2 from d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> ) select data1.time, s_1, s_2, (s_1 + s_2)/2 as avg from data1;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 19.84it/s]

49.9119758605957 , 3.4744822479067365  , 5 , 1 , 1 , Day , clickhouse , with data1 as ( select time, s<sid1> as s_1, s<sid2> as s_2 from d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> ) select data1.time, s_1, s_2, (s_1 + s_2)/2 as avg from data1;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  5.01it/s]

198.1222629547119 , 0.532912619214289  , 5 , 1 , 1 , Week , clickhouse , with data1 as ( select time, s<sid1> as s_1, s<sid2> as s_2 from d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> ) select data1.time, s_1, s_2, (s_1 + s_2)/2 as avg from data1;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.14it/s]

877.2197564442953 , 11.143440317498975  , 5 , 1 , 1 , Month , clickhouse , with data1 as ( select time, s<sid1> as s_1, s<sid2> as s_2 from d1 WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>' AND id_station in <stid> ) select data1.time, s_1, s_2, (s_1 + s_2)/2 as avg from data1;

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 88.52it/s]

11.034488677978516 , 4.182310030063254  , 6 , 1 , 1 , Minute , clickhouse , SELECT corr(s<sid1>, s<sid2>) FROM d1 WHERE id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 104.74it/s]

9.3839963277181 , 1.8720415850273295  , 6 , 1 , 1 , Hour , clickhouse , SELECT corr(s<sid1>, s<sid2>) FROM d1 WHERE id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 80.43it/s]

12.183268864949545 , 1.1423553806518734  , 6 , 1 , 1 , Day , clickhouse , SELECT corr(s<sid1>, s<sid2>) FROM d1 WHERE id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 60.03it/s]

16.43967628479004 , 3.1578868952104964  , 6 , 1 , 1 , Week , clickhouse , SELECT corr(s<sid1>, s<sid2>) FROM d1 WHERE id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 26.43it/s]

37.17223803202311 , 0.47565733464350174  , 6 , 1 , 1 , Month , clickhouse , SELECT corr(s<sid1>, s<sid2>) FROM d1 WHERE id_station in <stid> AND time > TIMESTAMP '<timestamp>' - INTERVAL '<range>' <rangesUnit> AND time < TIMESTAMP '<timestamp>';

  0%|                                                                                                                                 | 0/3 [00:00<?, ?it/s]

OperationalError: Code: 62.
DB::Exception: Empty query. Stack trace:

0. DB::Exception::Exception(DB::Exception::MessageMasked&&, int, bool) @ 0x000000000c741d97 in /usr/bin/clickhouse
1. DB::Exception::createDeprecated(String const&, int, bool) @ 0x00000000075c238d in /usr/bin/clickhouse
2. DB::parseQueryAndMovePosition(DB::IParser&, char const*&, char const*, String const&, bool, unsigned long, unsigned long) @ 0x0000000013b0427c in /usr/bin/clickhouse
3. DB::executeQueryImpl(char const*, char const*, std::shared_ptr<DB::Context>, bool, DB::QueryProcessingStage::Enum, DB::ReadBuffer*) @ 0x0000000012492314 in /usr/bin/clickhouse
4. DB::executeQuery(String const&, std::shared_ptr<DB::Context>, bool, DB::QueryProcessingStage::Enum) @ 0x000000001249181c in /usr/bin/clickhouse
5. DB::TCPHandler::runImpl() @ 0x00000000133197ec in /usr/bin/clickhouse
6. DB::TCPHandler::run() @ 0x000000001332bc79 in /usr/bin/clickhouse
7. Poco::Net::TCPServerConnection::start() @ 0x0000000015d0eb14 in /usr/bin/clickhouse
8. Poco::Net::TCPServerDispatcher::run() @ 0x0000000015d0fd11 in /usr/bin/clickhouse
9. Poco::PooledThread::run() @ 0x0000000015e1b367 in /usr/bin/clickhouse
10. Poco::ThreadImpl::runnableEntry(void*) @ 0x0000000015e195fc in /usr/bin/clickhouse
11. ? @ 0x00007f1cb8a50609 in ?
12. ? @ 0x00007f1cb8975133 in ?

In [27]:
for (n_s, n_st, time_range) in list(scenarios):
    print(n_s)

In [28]:
list(scenarios)

[]