In [10]:
import json
import multiprocessing
# import graph.graph_main as graph
import time
from pathlib import Path
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import pandas as pd
import math 
from scipy import stats

In [1]:
import numpy as np
import pandas as pd


df = pd.DataFrame(np.full((86400 * 30 * 2,100), 0.238193), columns=['s'+ str(i) for i in range(100)])
# df

# df.to_csv("d_tsb.csv", sep=',', float_format='%.6f', header=True, index=False)

In [26]:
data = pd.read_csv('data/Sauerstoff.csv')
data = data['Sauerstoff'].tolist()
data = stats.zscore(np.array(data))
data = data.tolist()
data = list(map(abs, data))
# data = data[:window * 6 ]
data = (data*25)[:5184000]
len(data)

5184000

In [28]:
df = pd.DataFrame.from_records([data for i in range(100)])
df = df.T
df.columns = ['s' + str(i) for i in range(100)]
df.head()

,s0,s1,s2,s3,s4,s5,s6,s7,s8,s9,...,s90,s91,s92,s93,s94,s95,s96,s97,s98,s99
0,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,...,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320
1,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,...,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911
2,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,...,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092
3,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,...,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682
4,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,...,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863

In [2]:
len(df)

5184000

In [29]:
import numpy as np
import pandas as pd
from datetime import datetime
from tqdm import tqdm

nb_station = 10
nb_sensor = 100
nb_days = 60
granularity = 10 #seconds

dtime = datetime(2019, 3, 1, 00)
dtimestamp = datetime.timestamp(dtime)
ms = int(round(dtimestamp * 1000))
n_it = 10
print(ms)

list_time = [datetime.fromtimestamp(int((ms + i * granularity * 1000) //1000)).strftime('%Y-%m-%dT%H:%M:%S') for i in range(86400 // granularity * nb_days)] * 10

print(len(list_time))

list_st = []
for s in range(10):
    list_st += ['st' + str(s) for i in range(86400 // granularity * nb_days)]
df['time'] = list_time
df['id_station'] = list_st
df = df[['time','id_station']+['s'+str(i) for i in range(100)]]
df

1551398400000
5184000

,time,id_station,s0,s1,s2,s3,s4,s5,s6,s7,...,s90,s91,s92,s93,s94,s95,s96,s97,s98,s99
0,2019-03-01T00:00:00,st0,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,...,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320
1,2019-03-01T00:00:10,st0,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,...,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911
2,2019-03-01T00:00:20,st0,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,...,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092
3,2019-03-01T00:00:30,st0,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,...,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682
4,2019-03-01T00:00:40,st0,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,...,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5183995,2019-04-29T23:59:10,st9,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,...,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288
5183996,2019-04-29T23:59:20,st9,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,...,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107
5183997,2019-04-29T23:59:30,st9,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,...,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336
5183998,2019-04-29T23:59:40,st9,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,...,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565
5183999,2019-04-29T23:59:50,st9,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,...,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613

In [30]:
df

,time,id_station,s0,s1,s2,s3,s4,s5,s6,s7,...,s90,s91,s92,s93,s94,s95,s96,s97,s98,s99
0,2019-03-01T00:00:00,st0,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,...,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320,0.878320
1,2019-03-01T00:00:10,st0,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,...,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911,0.883911
2,2019-03-01T00:00:20,st0,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,...,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092,0.895092
3,2019-03-01T00:00:30,st0,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,...,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682,0.900682
4,2019-03-01T00:00:40,st0,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,...,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863,0.911863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5183995,2019-04-29T23:59:10,st9,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,...,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288,1.570288
5183996,2019-04-29T23:59:20,st9,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,...,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107,1.559107
5183997,2019-04-29T23:59:30,st9,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,...,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336,1.542336
5183998,2019-04-29T23:59:40,st9,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,...,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565,1.525565
5183999,2019-04-29T23:59:50,st9,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,...,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613,1.497613

In [33]:
df.to_csv("d1_same_ts.csv", sep=',', float_format='%.6f', header=True, index=False)