# Basic Queries D2 ALL

In [5]:
import time
import statistics as stats
#import os
#os.system('sudo sync; echo 3 > /proc/sys/vm/drop_caches')
start_program = time.time()
import pandas as pd

In [6]:
import random
import time
from tqdm import tqdm
import numpy as np
    
def str_time_prop(start, end, time_format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formatted in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))


def random_date(start, end, prop, dform = '%Y-%m-%dT%H:%M:%S'):
    return str_time_prop(start, end, dform, prop)
    
def get_list(elm, n_elm, max_r = 10, prefix = '', suffix = '', apostrophe = True):
    res = ''
    elms = random.sample(range(max_r), n_elm)
    for i in range(n_elm): 
        item = prefix + elm + str(elms[i]) +  suffix 
        if apostrophe: 
            item = "'" + item + "'"
        res += item 
        if i < n_elm - 1: 
            res += ", "
    return res

import math

def percentile(data, perc: int):
    size = len(data)
    return sorted(data)[int(math.ceil((size * perc) / 100)) - 1]

In [7]:
query1, query2, query3, query4, query5 = [{},{}],[{},{}],[{},{}],[{},{}],[{},{}]

In [8]:
# max_duration = {
#     1: 10,
#     2: 15,
#     3: 30,
#     4: 5,
#     5: 75
# }
max_duration = {
    1: 1,
    2: 1,
    3: 1,
    4: 1,
    5: 1
}
rangesUnit = {
    1: "hour",
    2: "day",
    3: "day",
    4: "day",
    5: "hour",
}

n_it = 30

In [9]:
random.seed(1)

set_st = [str(random.randint(0,1999)) for i in range(500)]
set_s = [str(random.randint(0,99)) for i in range(500)]
set_date = [random.random() for i in range(500)]

# ClickHouse

In [ ]:
# A simple class
# attribute

c_q1 = """select * FROM d2 where id_station='st<stid>'
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>';"""

# c_q1 = """select time, s<sid> FROM d2 where id_station='st<stid>'
# AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
# AND time < TIMESTAMP '<timestamp>';"""

c_q2 = """select time, s<sid> FROM d2 where id_station='st<stid>'
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' and s<sid> > 0.95;"""

c_q3 = """SELECT id_station, avg(s<sid>) FROM d2 
WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' 
GROUP BY id_station;"""

c_q4 = """SELECT id_station, EXTRACT(YEAR FROM time) AS "year",
date_trunc('month', time) AS "month", 
date_trunc('day', time) AS "day", 
date_trunc('hour', time) AS "hour", 
AVG(s<sid>) AS avg_s<sid>
FROM d2 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND id_station in <stid> 
AND time < TIMESTAMP '<timestamp>' 
GROUP BY id_station, "year", "month", "day", "hour";"""

# c_q5 = """SELECT
#   time_bucket_gapfill('5 second', time) AS NEWTIME,
#   id_station,
#   avg(s<sid>) AS avg_value,
#   interpolate(avg(s<sid>))
# FROM d1_wide
# WHERE time < '<timestamp>' AND time > timestamp '<timestamp>' - interval '<nb> <rangesUnit>'
# AND id_station in <stid> 
# GROUP BY NEWTIME, id_station
# ORDER BY NEWTIME;"""



#druid = Druid()

In [ ]:
from clickhouse_driver import Client
from clickhouse_driver import connect as connect_ClickHouse

class ClickHouse:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
#         client = Client('diufrm102')
        conn = connect_ClickHouse("clickhouse://diufrm102")
        cursor = conn.cursor()
#         print(client.execute('SHOW TABLES'))
#         return None, None
        duration = max_d
        results = [[],[]]       
        runtimes = []
        for i in tqdm(range(n_it)):
#             time.sleep(0.5)
            date = random_date("2019-02-02T00:00:00", "2019-02-05T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
            temp = query.replace("<timestamp>", date)
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<rangesUnit>", str(rangesUnit))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ',' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)

            start = time.time()
#             print(temp)
            cursor.execute(temp)
            cursor.fetchall()
            diff = (time.time()-start)*1000
#                 print(temp, diff)
            runtimes.append(diff)
#             print(temp)
        results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
        results[1].append(stats.stdev(runtimes))
        conn.close()
        return results[0], results[1]

In [ ]:
res = []
res.append([str(round(i[0], 2)) for i in ClickHouse.query(c_q1, max_duration[1], rangesUnit[1], n_it)])
res.append([str(round(i[0], 2)) for i in ClickHouse.query(c_q2, max_duration[2], rangesUnit[2], n_it)])
res.append([str(round(i[0], 2)) for i in ClickHouse.query(c_q3, max_duration[3], rangesUnit[3], n_it)])
res.append([str(round(i[0], 2)) for i in ClickHouse.query(c_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)])

s = ''
for r in res: 
    s += r[0] + "$\\pm$" + r[1] + '\t&\t'
print(s)

# Druid

In [ ]:
# query = PyDruid('http://diufrm118:8083', 'druid/v2/')

# ts = query.timeseries(
#     datasource='d1',
#     granularity={"type": "duration", "duration": 5000},
#     aggregations={"value": stringfirst("value")},
#     intervals='2019-03-01/pt1h',
#     filter=Dimension('s') == 's4',
#     context={"skipEmptyBuckets": "false"}   
# )


# # print(ts)

# query.export_pandas()

# # query.execute(d_q5)
# # print((time.time()-start)*1000)

# A simple class
# attribute
d_q1 = """select __time, "value" FROM d2 where id_station = 'st<stid>' and s='s<sid>' 
    and __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
    and __time < TIMESTAMP '<timestamp>'"""

d_q2 = """SELECT __time", value" FROM d2 WHERE  id_station = 'st<stid>' 
    AND __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit>  
    and __time < TIMESTAMP '<timestamp>' AND "value" > 0.95 AND s = 's<sid>'"""

d_q3 = """select id_station,AVG("value")  FROM d2 where __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> \
    and __time < TIMESTAMP '<timestamp>' and s = 's<sid>'
    GROUP BY id_station"""

d_q4 = """SELECT "id_station", TIME_EXTRACT(__time, 'YEAR')  AS "yearP",
    TIME_EXTRACT(__time, 'MONTH') AS "month", 
    TIME_EXTRACT(__time, 'DAY') AS "day", 
    TIME_EXTRACT(__time, 'HOUR') AS "hour", 
    AVG("value") 
    FROM d2 where __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
    AND __time < TIMESTAMP '<timestamp>' 
    AND s = 's<sid>'
    and id_station in <stid>
    GROUP BY 1,2,3,4,5"""

d_q5 = """
{
  "queryType": "timeseries",
  "dataSource": "d2",
  "granularity": {"type": "duration", "duration": 5000},
    "filter": {
    "type": "and",
    "fields": [
      {
        "type": "in",
        "dimension": "id_station",
        "values": ['st3', 'st7', 'st9', 'st2', 'st2']
      },
      {
        "type": "selector",
        "dimension": "s",
        "value": "s47",
      }
    ]
  },
  "aggregations": [
    { "type": "doubleFirst", "name": "value", "fieldName": "value" }
  ],
  "intervals": [ "2019-03-01T00:00:00.000/2019-03-04T00:00:00.000" ],
  "context" : {
    "skipEmptyBuckets": "false"
  }
}


"""
#druid = Druid()

from pydruid.client import *
from pylab import plt
from pydruid.db import connect
from pydruid.utils.aggregators import *
from pydruid.utils.filters import *

class Druid:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        conn = connect(host='diufrm102', port=8082, path='/druid/v2/sql/', scheme='http')
        curs = conn.cursor()
        curs.execute("select * FROM d1 where id_station in ('st5') and s='s14' and __time > TIMESTAMP '2019-03-04 00:00:00' - INTERVAL '1' DAY and __time < TIMESTAMP '2019-03-04 00:00:00' ")
        curs.fetchall()
        results = [[],[]]
        duration = max_d
        runtimes = []
        for i in range(n_it):
            date = random_date("2019-02-02T00:00:00", "2019-02-05T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%d %H:%M:%S')
            temp = query.replace("<timestamp>", date)
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ',' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)
            temp = temp.replace("<rangesUnit>", str(rangesUnit))
            start = time.time()
#                 print(temp)
            curs.execute(temp)
            curs.fetchall()
            #print(temp, curs.rowcount)
            diff = (time.time()-start)*1000
            runtimes.append(diff)
#                 print(temp, diff)
        #print(runtimes)
        #print(temp)
        results[0].append(stats.mean(runtimes))
        results[1].append(stats.stdev(runtimes))
#             results[1].append(stats.stdev(runtimes))
        conn.close()
        return results[0],results[1]
    
    def query5(max_d, rangesUnit, n_it):
        results = [[],[]]
        query = PyDruid('http://diufrm102:8083', 'druid/v2/')
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(n_it):
                start = time.time()
                date = random_date("2019-02-02T00:00:00", "2019-02-05T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
                query.timeseries(
                    datasource='d1',
                    granularity={"type": "duration", "duration": 5000},
                    aggregations={"value": stringfirst("value")},
                    intervals= date + '/p' +  str(duration) + str(rangesUnit)[0],
                    filter=Dimension('s') == 's' + str(set_s[(duration*i)%500]),
                    context={"skipEmptyBuckets": "false"}   
                )
                print(date + '/p' +  str(duration) + str(rangesUnit)[0])
                diff = (time.time()-start)*1000
                runtimes.append(diff)
            print(runtimes)
            results[0].append(stats.mean(runtimes))
            results[1].append(stats.stdev(runtimes,85))
#             results[1].append(stats.stdev(runtimes))
        return results[0], results[1]

# Druid Wide

In [ ]:
# A simple class
# attribute
# dw_q1 = """select __time, "s<sid>" FROM d2_hour where st = 'st<stid>' 
#     and __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
#     and __time < TIMESTAMP '<timestamp>'"""


dw_q1 = """select * FROM d2_hour where st = 'st<stid>' 
    and __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
    and __time < TIMESTAMP '<timestamp>'"""


dw_q2 = """SELECT __time, "s<sid>" FROM d2_hour WHERE  st = 'st<stid>' 
    AND __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit>  
    and __time < TIMESTAMP '<timestamp>' AND "s<sid>" > 0.95"""

dw_q3 = """select st,AVG("s<sid>")  FROM d2_hour 
    where __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> \
    and __time < TIMESTAMP '<timestamp>' 
    GROUP BY st"""

dw_q4 = """SELECT "st", TIME_EXTRACT(__time, 'YEAR')  AS "yearP",
    TIME_EXTRACT(__time, 'MONTH') AS "month", 
    TIME_EXTRACT(__time, 'DAY') AS "day", 
    TIME_EXTRACT(__time, 'HOUR') AS "hour", 
    AVG("s<sid>") 
    FROM d2_hour where __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
    AND __time < TIMESTAMP '<timestamp>' 
    and st in <stid>
    GROUP BY 1,2,3,4,5"""

#druid = Druid()

In [ ]:
from pydruid.client import *
from pylab import plt
from pydruid.db import connect
from pydruid.utils.aggregators import *
from pydruid.utils.filters import *

class Druid_Wide:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        conn = connect(host='diufrm102', port=8082, path='/druid/v2/sql/', scheme='http')
        curs = conn.cursor()
#         curs.execute("select * FROM d1 where id_station in ('st5') and s='s14' and __time > TIMESTAMP '2019-03-04 00:00:00' - INTERVAL '1' DAY and __time < TIMESTAMP '2019-03-04 00:00:00' ")
#         curs.fetchall()
        results = [[],[]]
        duration = max_d
        runtimes = []
        for i in tqdm(range(n_it)):
#             time.sleep(0.5)
            date = random_date("2019-02-02 00:00:00", "2019-02-05 00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%d %H:%M:%S')
            temp = query.replace("<timestamp>", date)
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ',' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)
            temp = temp.replace("<rangesUnit>", str(rangesUnit))
            start = time.time()
#             print(temp)
            curs.execute(temp)
            curs.fetchall()
            #print(temp, curs.rowcount)
            diff = (time.time()-start)*1000
            runtimes.append(diff)
#                 print(temp, diff)
        #print(runtimes)
        #print(temp)
        results[0].append(stats.mean(runtimes))
        results[1].append(stats.stdev(runtimes))
#             results[1].append(stats.stdev(runtimes))
        conn.close()
        return results[0],results[1]
    
    def query5(max_d, rangesUnit, n_it):
        results = [[],[]]
        query = PyDruid('http://diufrm102:8083', 'druid/v2/')
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(n_it):
                start = time.time()
                date = random_date("2019-02-02T00:00:00", "2019-02-05T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
                query.timeseries(
                    datasource='d2',
                    granularity={"type": "duration", "duration": 5000},
                    aggregations={"value": stringfirst("value")},
                    intervals= date + '/p' +  str(duration) + str(rangesUnit)[0],
                    filter=Dimension('s') == 's' + str(set_s[(duration*i)%500]),
                    context={"skipEmptyBuckets": "false"}   
                )
                print(date + '/p' +  str(duration) + str(rangesUnit)[0])
                diff = (time.time()-start)*1000
                runtimes.append(diff)
            print(runtimes)
            results[0].append(stats.mean(runtimes))
            results[1].append(stats.stdev(runtimes,85))
#             results[1].append(stats.stdev(runtimes))
        return results[0], results[1]

In [ ]:
res = []
res.append([str(round(i[0], 2)) for i in Druid_Wide.query(dw_q1, max_duration[1], rangesUnit[1], n_it)])
res.append([str(round(i[0], 2)) for i in Druid_Wide.query(dw_q2, max_duration[2], rangesUnit[2], n_it)])
res.append([str(round(i[0], 2)) for i in Druid_Wide.query(dw_q3, max_duration[3], rangesUnit[3], n_it)])
res.append([str(round(i[0], 2)) for i in Druid_Wide.query(dw_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)])

s = ''
for r in res: 
    s += r[0] + "$\\pm$" + r[1] + '\t&\t'
print(s)

In [ ]:
# Druid_Wide.query(dw_q3, 1, "hour", 100)
Druid_Wide.query(dw_q3, 1, "hour", 100, n_st = 5)

# eXtremeDB

In [1]:
# A simple class
# attribute
# e_q1 = """select seq_search(t,<timestamp> - <nb> * <rangesUnit>,<timestamp>) as tt, s<sid>@tt FROM d2_v WHERE id_station = 'st<stid>';"""
e_q1 = """select seq_search(t,<timestamp> - <nb> * <rangesUnit>,<timestamp>) as tt, <allsensors> FROM d2_v WHERE id_station = 'st<stid>';"""


e_q2 = """select seq_search(t,<timestamp> - <nb> * <rangesUnit>,<timestamp>) as tt, !seq_filter_search(s<sid>@tt > 0.95, tt) as fe, s<sid>@fe FROM d2_v WHERE id_station = 'st<stid>'; """


e_q3 = """SELECT id_station, ! seq_search(t,<timestamp> - <nb> * <rangesUnit>,<timestamp>) as tt, seq_avg(s<sid>@tt) FROM d2_v;""" # where id_station = 'st<stid>'


e_q4 = """select id_station, seq_search(t,<timestamp> - <nb> * <rangesUnit>, <timestamp>) as tt, t@tt/3600 as hour, seq_group_agg_dev(s<sid>@tt, t@tt/3600) FROM d2_v  where id_station in <stid>"""


e_q5 = """select seq_aprogres_datetime(<timestamp> -  <nb> * <rangesUnit>, 5, <nb> * <rangesUnit>) as ts5,seq_stretch(ts5,t,s<sid>) from d2_v where  id_station in <stid>;"""

In [4]:
from tqdm import tqdm 
import exdb 
import datetime
exdb.init_runtime(debug = False, shm = False, disk = False, tmgr = 'mursiw', UsePerfmon = True)
con = exdb.connect('diufrm118', 5001)
curs = con.cursor()
res = []
for i in range(10):
    start = time.time()
    curs.execute("select seq_search(t,1555315999 - 12 * 86400,1555315999) as tt, !seq_filter_search(s87@tt > 0.95, tt) as fe, s87@fe FROM d2_v WHERE id_station = 'st4';")
    curs.fetchall()
    res.append((time.time()-start)*1000)
con.close()
print(res)

NameError: name 'time' is not defined

In [5]:
class EXtremeDB:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        # map the inputs to the function blocks
        import exdb 
        import datetime
        exdb.init_runtime(debug = False, shm = False, disk = False, tmgr = 'mursiw')
        con = exdb.connect('diufrm118', 5001)
        curs = con.cursor()
        curs.execute("SELECT s23 FROM d2_v where id_station = 'st3'")
        curs.fetchall()
        results = [[],[]]
        options = {"day" : 60 * 60* 24,
                   "week" : 60 * 60* 24 * 7,
                   "minute" : 60,
                   "hour" : 60 * 60,
                   "second" : 1,
                   "month" : 60 * 60 * 24 * 30,
                   "year" :  60 * 60 * 24 * 30 * 12
        }
        duration = max_d
        runtimes = []
        for i in tqdm(range(n_it)):    
#             time.sleep(0.5)
            date = random_date("2019-02-02 00:00:00", "2019-02-05 00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%d %H:%M:%S')
            date = int(time.mktime(datetime.datetime.strptime(date, '%Y-%m-%d %H:%M:%S').timetuple()))
            temp = query.replace("<timestamp>", str(date))
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            allsensors = ''
            for i in range(100): 
                allsensors += 's' + str(i) + '@tt'
                if i < 99: allsensors += ', '
            temp = temp.replace("<allsensors>", allsensors)
            
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ',' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)
            temp = temp.replace("<rangesUnit>", str(options[rangesUnit]))
#                 print(temp)
            start = time.time()
            curs.execute(temp)
            # print(curs.rowcount)
            curs.fetchall()
            diff = (time.time()-start)*1000
#                 print(temp, diff)
            runtimes.append(diff )
        #print(runtimes)
        #print(temp)
        results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
        results[1].append(stats.stdev(runtimes))
        con.close()
        return results

In [3]:
EXtremeDB.query(e_q3, max_duration[3], rangesUnit[3], n_it)

NameError: name 'EXtremeDB' is not defined

In [20]:
res = []
res.append([str(round(i[0], 2)) for i in EXtremeDB.query(e_q1, max_duration[1], rangesUnit[1], n_it)])
res.append([str(round(i[0], 2)) for i in EXtremeDB.query(e_q2, max_duration[2], rangesUnit[2], n_it)])
res.append([str(round(i[0], 2)) for i in EXtremeDB.query(e_q3, max_duration[3], rangesUnit[3], n_it)])
res.append([str(round(i[0], 2)) for i in EXtremeDB.query(e_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)])
res.append([str(round(i[0], 2)) for i in EXtremeDB.query(e_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)])

s = ''
for r in res: 
    s += r[0] + "$\\pm$" + r[1] + '\t&\t'
print(s)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:01<00:00, 29.50it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 78.38it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [01:31<00:00,  3.04s/it]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:03<00:00,  8.94it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:01<00:00, 24.89it/s]

33.27$\pm$1.11	&	12.46$\pm$0.38	&	3043.37$\pm$127.78	&	110.86$\pm$1.39	&	39.7$\pm$1.55	&

# Influx

i_q1 = """select time, value FROM "d2"."autogen"."sensor" where "id_station" ='st<stid>' AND "s" ='s<sid>' AND time > '<timestamp>Z' - <nb><rangesUnit> AND  time < '<timestamp>Z'"""
i_q2 = """select time, value FROM "d2"."autogen"."sensor" where "id_station" ='st<stid>' AND "s" ='s<sid>' AND time > '<timestamp>Z' - <nb><rangesUnit> AND  time < '<timestamp>Z' and value > 0.95"""
i_q3 = """SELECT mean(value) FROM "d2"."autogen"."sensor" WHERE  "s" ='s<sid>' AND time > '<timestamp>Z' - <nb><rangesUnit> AND time < '<timestamp>Z' GROUP BY "id_station"  """
i_q4 = """SELECT first(id_station), mean(value) FROM "d2"."autogen"."sensor" WHERE time > '<timestamp>Z' - <nb><rangesUnit> AND s='s<sid>' and time < '<timestamp>Z' and <stid> GROUP BY id_station,time(1h)"""
i_q5 = """SELECT id_station, mean_value FROM (SELECT mean(value) as mean_value FROM "d2"."autogen"."sensor" WHERE time > '<timestamp>Z' - <nb><rangesUnit> AND time < '<timestamp>Z' AND s='s<sid>' and <stid> GROUP BY id_station,time(5s) FILL(0)) GROUP BY id_station"""

import time
from influxdb import InfluxDBClient

class Influx:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        client = InfluxDBClient(host='diufrm118', port=8086, username='abdel')
        results = [[],[]]
        client.query("select * FROM \"d1\".\"autogen\".\"sensor\" where \"id_station\" ='st8' AND \"s\" ='s8' AND time > '2019-03-29T02:37:39Z' - 1d  AND  time < '2019-03-29T02:37:39Z'")
        
        duration = max_d
        runtimes = []
        for i in range(10):
            date = random_date("2019-02-02T00:00:00", "2019-02-05T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
            temp = query.replace("<timestamp>", date)
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<rangesUnit>", str(rangesUnit[0]))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(id_station =' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ' OR '  + 'id_station =' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)
            start = time.time()
            result = client.query(temp)
            diff = (time.time()-start)*1000
#                 print(temp, diff)
            runtimes.append(diff)
#             print(runtimes)
        results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
        results[1].append(stats.stdev(runtimes))
        client.close()
        return results

# MonetDB

In [9]:
m_q1 = """select * FROM d2 where id_station='st<stid>' \
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> \
AND time < TIMESTAMP '<timestamp>'"""
# m_q1 = """select time, s<sid> FROM d2 where id_station='st<stid>' \
# AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> \
# AND time < TIMESTAMP '<timestamp>'"""
m_q2 = """select time, s<sid> FROM d2 where id_station='st<stid>' 
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' AND s<sid>>0.95"""
m_q3 = """SELECT id_station, avg(s<sid>) FROM d2 
WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>'
GROUP BY id_station"""
m_q4 = """SELECT id_station, EXTRACT(YEAR FROM time) AS "year",
EXTRACT(MONTH FROM time) AS "month", 
EXTRACT(DAY FROM time) AS "day", 
EXTRACT(HOUR FROM time) 
AS "hour", AVG(s<sid>) AS avg_s<sid>
FROM d2 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>'
AND id_station in <stid>
GROUP BY id_station, "year", "month", "day", "hour" """
m_q5 = """"""

In [10]:
import pymonetdb
import time

class MonetDB:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        connection = pymonetdb.connect(username="monetdb", port=54320, password="monetdb", hostname="diufrm118", database="mydb")
        cursor = connection.cursor()
        cursor.execute("""select time, s91 FROM d2 where id_station='st4' AND time > TIMESTAMP '2019-03-09T13:43:54' - INTERVAL '3' day AND time < TIMESTAMP '2019-03-09T13:43:54'""")
        cursor.fetchall()
        results = [[],[]]
        
        duration = max_d
        
        runtimes = []
        for i in tqdm(range(n_it)):
#             time.sleep(0.5)
            date = random_date("2019-02-02T00:00:00", "2019-02-05T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
            temp = query.replace("<timestamp>", date)
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<rangesUnit>", str(rangesUnit))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ',' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)
            start = time.time()
            cursor.execute(temp)
            cursor.fetchall()
            diff = (time.time()-start)*1000
#                 print(temp, diff)
            runtimes.append(diff)
        #print(temp)
        results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
        results[1].append(stats.stdev(runtimes))
        connection.close()
        return results

In [11]:
res = []
res.append([str(round(i[0], 2)) for i in MonetDB.query(m_q1, max_duration[1], rangesUnit[1], n_it)])
res.append([str(round(i[0], 2)) for i in MonetDB.query(m_q2, max_duration[2], rangesUnit[2], n_it)])
res.append([str(round(i[0], 2)) for i in MonetDB.query(m_q3, max_duration[3], rangesUnit[3], n_it)])
res.append([str(round(i[0], 2)) for i in MonetDB.query(m_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)])

s = ''
for r in res: 
    s += r[0] + "$\\pm$" + r[1] + '\t&\t'
print(s)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:18<00:00,  1.65it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:03<00:00,  9.61it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:03<00:00,  9.71it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:03<00:00,  7.61it/s]

605.28$\pm$74.56	&	103.17$\pm$1.87	&	102.32$\pm$4.67	&	130.03$\pm$5.77	&

In [ ]:
MonetDB.query(m_q3, 60, "minute", 100)

In [ ]:
MonetDB.query(m_q4, 60, "minute", 100, n_st = 5)

# QuestDB

In [10]:
q_q1 = """select * FROM d2 where id_station='st<stid>' AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L """
# q_q1 = """select ts, s<sid> FROM d2 where id_station='st<stid>' AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L """
q_q2 = """select ts, s<sid> FROM d2 where id_station='st<stid>' AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L and s<sid> > 0.95;"""
q_q3 = """SELECT id_station, avg(s<sid>) FROM d2 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L GROUP BY id_station;"""
q_q4 = """SELECT id_station, ts, avg(s<sid>) FROM d2 WHERE ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 1h;"""
# q_q5 = """SELECT id_station, ts, avg(s<sid>) FROM d1 WHERE ts IN '<timestamp>;<nb><rangesUnit>' SAMPLE BY 5s FILL(LINEAR) GROUP BY id_station,ts ORDER BY id_station, ts;"""
q_q5 = """SELECT id_station, ts, avg(s<sid>) FROM d2 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 5s FILL(LINEAR) GROUP BY ts, id_station ORDER BY ts;"""

In [11]:

class QuestDB:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        import psycopg2
        import time
        connection = psycopg2.connect(user="admin",
                                          password="quest",
                                          host="diufrm146",
                                          port="8812",
                                          database="d2")
        options = {"day" : 60 * 60* 24,
                   "week" : 60 * 60* 24 * 7,
                   "minute" : 60,
                   "hour" : 60 * 60,
                   "second" : 1,
                   "month" : 60 * 60 * 24 * 30,
                   "year" :  60 * 60 * 24 * 30 * 12
        }
        cursor = connection.cursor()
        cursor.execute("select ts, s9 FROM d1 where id_station='st4' AND ts IN '2019-03-23;1d'")
        cursor.fetchall()
        results = [[],[]]
        
        duration = max_d
        
        runtimes = []
        for i in tqdm(range(n_it)):
#             time.sleep(0.5)
            date = random_date("2019-02-02", "2019-02-05", set_date[(duration*i)%500], dform = '%Y-%m-%d')
            temp = query.replace("<timestamp>", date+'T00:00')
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<rangesUnit>", str(options[rangesUnit]))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ',' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)

            start = time.time()
#             print(temp)
            cursor.execute(temp)
            cursor.fetchall()
            #print(temp, cursor.rowcount)
            #print(len)
            diff = (time.time()-start)*1000
#                 print(temp, diff)
            runtimes.append(diff)
#             print(temp)
        results[0].append(stats.mean(runtimes))
#             print(runtimes)
#             results[1].append(percentile(runtimes,85))
        results[1].append(stats.stdev(runtimes))
        connection.close()
        return results

In [15]:
QuestDB.query(q_q1, 60, "minute", 100)

100%|██████████████████████████████████████████████████████████████████████████████| 100/100 [00:10<00:00,  9.53it/s]

[[104.05722141265869], [8.98755865623072]]

In [ ]:
res = []
res.append([str(round(i[0], 2)) for i in QuestDB.query(q_q1, max_duration[1], rangesUnit[1], n_it)])
res.append([str(round(i[0], 2)) for i in QuestDB.query(q_q2, max_duration[2], rangesUnit[2], n_it)])
res.append([str(round(i[0], 2)) for i in QuestDB.query(q_q3, max_duration[3], rangesUnit[3], n_it)])
res.append([str(round(i[0], 2)) for i in QuestDB.query(q_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)])
res.append([str(round(i[0], 2)) for i in QuestDB.query(q_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)])

s = ''
for r in res: 
    s += r[0] + "$\\pm$" + r[1] + '\t&\t'
print(s)

In [ ]:
QuestDB.query(q_q2, max_duration[2], rangesUnit[2], n_it)

# TimescaleDB

In [21]:
t_q1 = """select * FROM d2 where id_station='st<stid>'
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>';"""


# t_q1 = """select time, s<sid> FROM d2 where id_station='st<stid>'
# AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
# AND time < TIMESTAMP '<timestamp>';"""


t_q2 = """select time, s<sid> FROM d2 where id_station='st<stid>'
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' and s<sid> > 0.95;"""

t_q3 = """SELECT id_station, avg(s<sid>) FROM d2 
WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' 
GROUP BY id_station;"""

t_q4 = """SELECT id_station, EXTRACT(YEAR FROM time) AS "year",
date_trunc('month', time) AS "month", 
date_trunc('DAY', time) AS "day", 
date_trunc('HOUR', time) AS "hour", 
AVG(s<sid>) AS avg_s<sid>
FROM d2 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' 
AND id_station in <stid> 
GROUP BY id_station, "year", "month", "day", "hour";"""

t_q5 = """SELECT
  time_bucket_gapfill('5 second', time) AS NEWTIME,
  id_station,
  avg(s<sid>) AS avg_value,
  interpolate(avg(s<sid>))
FROM d2
WHERE time < '<timestamp>' AND time > timestamp '<timestamp>' - interval '<nb> <rangesUnit>'
AND id_station in <stid> 
GROUP BY NEWTIME, id_station
ORDER BY NEWTIME;"""

In [22]:

class TimescaleDB:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        import psycopg2
        CONNECTION = "postgres://postgres:postgres@diufrm118:5432/postgres"
        conn = psycopg2.connect(CONNECTION)
        cursor = conn.cursor()
        cursor.execute("select time, s4 FROM d2 where id_station='st1' AND time > TIMESTAMP '2019-03-06T16:57:36' - INTERVAL '1' day AND time < TIMESTAMP '2019-03-06T16:57:36';")
        cursor.fetchall()
        results = [[],[]]
        
        duration = max_d
        
        
        runtimes = []
        for i in tqdm(range(n_it)):
#             time.sleep(0.5)
            date = random_date("2019-02-02T00:00:00", "2019-02-05T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
            temp = query.replace("<timestamp>", date)
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<rangesUnit>", str(rangesUnit))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ',' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)


            start = time.time()
            cursor.execute(temp)
            cursor.fetchall()
            diff = (time.time()-start)*1000
#                 print(temp, diff)
            runtimes.append(diff)
#             print(temp)
        results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
        results[1].append(stats.stdev(runtimes))
        conn.close()
        return results

In [23]:
TimescaleDB.query(t_q3, max_duration[3], rangesUnit[3], n_it)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [01:15<00:00,  2.51s/it]

[[2511.985445022583], [80.31230766428372]]

In [24]:
res = []
res.append([str(round(i[0], 2)) for i in TimescaleDB.query(t_q1, max_duration[1], rangesUnit[1], n_it)])
res.append([str(round(i[0], 2)) for i in TimescaleDB.query(t_q2, max_duration[2], rangesUnit[2], n_it)])
res.append([str(round(i[0], 2)) for i in TimescaleDB.query(t_q3, max_duration[3], rangesUnit[3], n_it)])
res.append([str(round(i[0], 2)) for i in TimescaleDB.query(t_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)])
res.append([str(round(i[0], 2)) for i in TimescaleDB.query(t_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)])

s = ''
for r in res: 
    s += r[0] + "$\\pm$" + r[1] + '\t&\t'
print(s)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:01<00:00, 17.35it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 207.36it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [01:16<00:00,  2.55s/it]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:01<00:00, 23.24it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:01<00:00, 27.88it/s]

57.14$\pm$2.79	&	4.65$\pm$0.5	&	2548.52$\pm$185.88	&	42.48$\pm$2.02	&	35.47$\pm$1.04	&

In [ ]:
TimescaleDB.query(t_q3, 60, "minute", 10)

In [ ]:
TimescaleDB.query(t_q4, max_duration[4], rangesUnit[4], 10, n_st = 5)

# TimescaleDB Narrow

tn_q1 = """select time, value FROM d2_narrow where id_station='st<stid>' and sid='s<sid>'
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>';"""

tn_q2 = """select time, value FROM d2_narrow where id_station='st<stid>' and sid='s<sid>'
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' and value > 0.95;"""

tn_q3 = """SELECT id_station, avg(value) FROM d2_narrow 
WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' and sid='s<sid>'
GROUP BY id_station;"""

tn_q4 = """SELECT id_station, EXTRACT(YEAR FROM time) AS "year",
date_trunc('month', time) AS "month", 
date_trunc('DAY', time) AS "day", 
date_trunc('HOUR', time) AS "hour", 
AVG(value) AS avg_s<sid>
FROM d2_narrow where  time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' and sid='s<sid>'
GROUP BY id_station, "year", "month", "day", "hour";"""

tn_q5 = """SELECT
  time_bucket_gapfill('5 second', time) AS NEWTIME,
  id_station,
  avg(value) AS avg_value,
  interpolate(avg(value))
FROM d2_narrow
WHERE time < '<timestamp>' AND time > timestamp '<timestamp>' - interval '<nb> <rangesUnit>'
AND id_station in <stid> and sid='s<sid>'
GROUP BY NEWTIME, id_station
ORDER BY NEWTIME;"""


class TimescaleDB_Narrow:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        import psycopg2
        CONNECTION = "postgres://postgres:postgres@diufrm118:5432/postgres"
        conn = psycopg2.connect(CONNECTION)
        cursor = conn.cursor()
        cursor.execute("select time, s4 FROM d1 where id_station='st1' AND time > TIMESTAMP '2019-03-06T16:57:36' - INTERVAL '1' day AND time < TIMESTAMP '2019-03-06T16:57:36';")
        cursor.fetchall()
        results = [[],[]]
        
        duration = max_d
        
        
        runtimes = []
        for i in range(n_it):
            date = random_date("2019-02-02T00:00:00", "2019-02-05T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
            temp = query.replace("<timestamp>", date)
            temp = temp.replace("<nb>", str(duration))
            temp = temp.replace("<rangesUnit>", str(rangesUnit))
            temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
            if n_st == 1: 
                temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
            else: 
                li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                q = '(' + "'" + li[0] + "'"
                for i in li[1:]:
                    q += ',' + "'" + i + "'"
                q += ")"
                temp = temp.replace("<stid>", q)


            start = time.time()
            cursor.execute(temp)
            cursor.fetchall()
            diff = (time.time()-start)*1000
#                 print(temp, diff)
            runtimes.append(diff)
            print(temp)
        results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
        results[1].append(stats.stdev(runtimes))
        conn.close()
        return results

# Run all

In [ ]:
def queryAllClickHouse(duration_range):
    
#     max_d = 1000
    rangesUnit = "minute"
    results = [{} for i in range(5)]
    for i in range(5):
        results[i]["clickhouse"] = []
        results[i]["extremedb"] = []
        results[i]["questdb"] = []
        results[i]["timescaledb"] = []
        
    for duration in tqdm(duration_range):
        
        results[0]["clickhouse"].append(ClickHouse.query(c_q1, duration, rangesUnit, n_it)[0][-1])
        results[0]["extremedb"].append(EXtremeDB.query(e_q1, duration, rangesUnit, n_it)[0][-1])
        results[0]["questdb"].append(QuestDB.query(q_q1, duration, rangesUnit, n_it)[0][-1])
        results[0]["timescaledb"].append(TimescaleDB.query(t_q1, duration, rangesUnit, n_it)[0][-1])
        
        results[1]["clickhouse"].append(ClickHouse.query(c_q2, duration, rangesUnit, n_it)[0][-1])
        results[1]["extremedb"].append(EXtremeDB.query(e_q2, duration, rangesUnit, n_it)[0][-1])
        results[1]["questdb"].append(QuestDB.query(q_q2, duration, rangesUnit, n_it)[0][-1])
        results[1]["timescaledb"].append(TimescaleDB.query(t_q2, duration, rangesUnit, n_it)[0][-1])
        
        results[2]["clickhouse"].append(ClickHouse.query(c_q3, duration, rangesUnit, n_it)[0][-1])
        results[2]["extremedb"].append(EXtremeDB.query(e_q3, duration, rangesUnit, n_it)[0][-1])
        results[2]["questdb"].append(QuestDB.query(q_q3, duration, rangesUnit, n_it)[0][-1])
        results[2]["timescaledb"].append(TimescaleDB.query(t_q3, duration, rangesUnit, n_it)[0][-1])
        
        results[3]["clickhouse"].append(ClickHouse.query(c_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[3]["extremedb"].append(EXtremeDB.query(e_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[3]["questdb"].append(QuestDB.query(q_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[3]["timescaledb"].append(TimescaleDB.query(t_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        
        
        results[4]["extremedb"].append(EXtremeDB.query(e_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[4]["questdb"].append(QuestDB.query(q_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[4]["timescaledb"].append(TimescaleDB.query(t_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])
    return results

In [ ]:
# max_d = 1000
rangesUnit = "minute"
results = [{} for i in range(5)]

for i in range(5):
        results[i]["clickhouse"] = []
#         results[i]["druid"] = []
        results[i]["druid_wide"] = []
        results[i]["extremedb"] = []
        results[i]["influx"] = []
        results[i]["monetdb"] = []
        results[i]["questdb"] = []
        results[i]["timescaledb"] = []
#         results[i]["timescaledb_narrow"] = []

In [ ]:
def queryClickHouse(duration_range):
    for i in range(5):
        results[i]["clickhouse"] = []
    for duration in tqdm(duration_range):
        results[0]["clickhouse"].append(ClickHouse.query(c_q1, duration, rangesUnit, n_it)[0][-1])
        results[1]["clickhouse"].append(ClickHouse.query(c_q2, duration, rangesUnit, n_it)[0][-1])
        results[2]["clickhouse"].append(ClickHouse.query(c_q3, duration, rangesUnit, n_it)[0][-1])
        results[3]["clickhouse"].append(ClickHouse.query(c_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
#         results[4]["clickhouse"].append(ClickHouse.query(c_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])


def queryDruidWide(duration_range):
    for i in range(5):
        results[i]["druid_wide"] = []
    for duration in tqdm(duration_range):
        Dduration = duration
        DrangesUnit = rangesUnit
        if Dduration > 99: 
            Dduration = Dduration // 60
            Dduration -= Dduration%5
            DrangesUnit = "hour"  
            if Dduration > 99: 
                Dduration = Dduration // 24
                Dduration -= Dduration%5
                DrangesUnit = "day"          
#             results[0]["druid"].append(Druid.query(d_q1, Dduration, DrangesUnit, n_it)[0][-1])
#             results[1]["druid"].append(Druid.query(d_q2, Dduration, DrangesUnit, n_it)[0][-1])
#             results[2]["druid"].append(Druid.query(d_q3, Dduration, DrangesUnit, n_it)[0][-1])
#             results[3]["druid"].append(Druid.query(d_q4, Dduration, DrangesUnit, n_it, n_st = 5)[0][-1])
        results[0]["druid_wide"].append(Druid_Wide.query(dw_q1, Dduration, DrangesUnit, n_it)[0][-1])
        results[1]["druid_wide"].append(Druid_Wide.query(dw_q2, Dduration, DrangesUnit, n_it)[0][-1])
        results[2]["druid_wide"].append(Druid_Wide.query(dw_q3, Dduration, DrangesUnit, n_it)[0][-1])
        results[3]["druid_wide"].append(Druid_Wide.query(dw_q4, Dduration, DrangesUnit, n_it, n_st = 5)[0][-1])
#         results["druid"].append(Druid.query(d_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])


def queryExtremeDB(duration_range):    
    for i in range(5):
        results[i]["extremedb"] = []    
    for duration in tqdm(duration_range):
        results[0]["extremedb"].append(EXtremeDB.query(e_q1, duration, rangesUnit, n_it)[0][-1])
        results[1]["extremedb"].append(EXtremeDB.query(e_q2, duration, rangesUnit, n_it)[0][-1])
        results[2]["extremedb"].append(EXtremeDB.query(e_q3, duration, rangesUnit, n_it)[0][-1])
        results[3]["extremedb"].append(EXtremeDB.query(e_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[4]["extremedb"].append(EXtremeDB.query(e_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])

    
def queryInflux(duration_range):
    for i in range(5):
        results[i]["influx"] = [] 
    for duration in tqdm(duration_range):
        results[0]["influx"].append(Influx.query(i_q1, duration, rangesUnit, n_it)[0][-1])
        results[1]["influx"].append(Influx.query(i_q2, duration, rangesUnit, n_it)[0][-1])
        results[2]["influx"].append(Influx.query(i_q3, duration, rangesUnit, n_it)[0][-1])
        results[3]["influx"].append(Influx.query(i_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[4]["influx"].append(Influx.query(i_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])

    
def queryMonetDB(duration_range):
    for i in range(5):
        results[i]["monetdb"] = [] 
    for duration in tqdm(duration_range):
        results[0]["monetdb"].append(MonetDB.query(m_q1, duration, rangesUnit, n_it)[0][-1])
        results[1]["monetdb"].append(MonetDB.query(m_q2, duration, rangesUnit, n_it)[0][-1])
        results[2]["monetdb"].append(MonetDB.query(m_q3, duration, rangesUnit, n_it)[0][-1])
        results[3]["monetdb"].append(MonetDB.query(m_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
#         results["monetdb"].append(MonetDB.query(m_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])


    
def queryQuestDB(duration_range):
    for i in range(5):
        results[i]["questdb"] = [] 
    for duration in tqdm(duration_range):
        results[0]["questdb"].append(QuestDB.query(q_q1, duration, rangesUnit, n_it)[0][-1])
        results[1]["questdb"].append(QuestDB.query(q_q2, duration, rangesUnit, n_it)[0][-1])
        results[2]["questdb"].append(QuestDB.query(q_q3, duration, rangesUnit, n_it)[0][-1])
        results[3]["questdb"].append(QuestDB.query(q_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[4]["questdb"].append(QuestDB.query(q_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])

    
def queryTimescaleDB(duration_range):
    for i in range(5):
        results[i]["timescaledb"] = [] 
    for duration in tqdm(duration_range):
        results[0]["timescaledb"].append(TimescaleDB.query(t_q1, duration, rangesUnit, n_it)[0][-1])
        results[1]["timescaledb"].append(TimescaleDB.query(t_q2, duration, rangesUnit, n_it)[0][-1])
        results[2]["timescaledb"].append(TimescaleDB.query(t_q3, duration, rangesUnit, n_it)[0][-1])
        results[3]["timescaledb"].append(TimescaleDB.query(t_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
        results[4]["timescaledb"].append(TimescaleDB.query(t_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])
#     for duration in tqdm(duration_range):
#         results[0]["timescaledb_narrow"].append(TimescaleDB_Narrow.query(tn_q1, duration, rangesUnit, n_it)[0][-1])
#         results[1]["timescaledb_narrow"].append(TimescaleDB_Narrow.query(tn_q2, duration, rangesUnit, n_it)[0][-1])
#         results[2]["timescaledb_narrow"].append(TimescaleDB_Narrow.query(tn_q3, duration, rangesUnit, n_it)[0][-1])
#         results[3]["timescaledb_narrow"].append(TimescaleDB_Narrow.query(tn_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])
#         results[4]["timescaledb_narrow"].append(TimescaleDB_Narrow.query(tn_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])


def queryAll(duration_range):
    queryClickHouse(duration_range)
    queryDruidWide(duration_range)
    queryExtremeDB(duration_range)
    queryInflux(duration_range)
    queryMonetDB(duration_range)
    queryQuestDB(duration_range)
    queryTimescaleDB(duration_range)
    return results

In [ ]:
import time
import statistics as stats
#import os
#os.system('sudo sync; echo 3 > /proc/sys/vm/drop_caches')
import pandas as pd

In [ ]:
max_range = 1*60*24*3
# max_range = 1*60*24*30*2
duration_range = [ 2**i for i in range(1, int(math.log2(max_range)+1)) ]

start_program = time.time()

In [ ]:
queryClickHouse(duration_range)

In [ ]:
queryDruidWide(duration_range)

In [ ]:
queryExtremeDB(duration_range)

In [ ]:
# queryInflux(duration_range)

In [ ]:
queryMonetDB(duration_range)

In [ ]:
queryQuestDB(duration_range)

In [ ]:
queryTimescaleDB(duration_range)

In [ ]:
# results = queryAllClickHouse(duration_range)
# results = queryAllClickHouse(duration_range)
stop_program = time.time()

In [ ]:
results[0] = { k: results[0][k] for k in ["clickhouse","druid_wide","extremedb","monetdb","questdb","timescaledb"] }
results[1] = { k: results[1][k] for k in ["clickhouse","druid_wide","extremedb","monetdb","questdb","timescaledb"] }
results[2] = { k: results[2][k] for k in ["clickhouse","druid_wide","extremedb","monetdb","questdb","timescaledb"] }
results[3] = { k: results[3][k] for k in ["clickhouse","druid_wide","extremedb","monetdb","questdb","timescaledb"] }
results[4] = { k: results[4][k] for k in ['extremedb', 'questdb', 'timescaledb'] }

In [ ]:
for i in tqdm(range(len(results))): 
    df = pd.DataFrame(results[i])
    df.index = duration_range
    print(df.round(2))
    df.plot(title='query' + str(i+1), xlabel='window range (minutes)', ylabel='time (ms)', logy = True, logx = True)
# type(results[0])

In [ ]:
print('Benchmark Runtime: %s minutes' % str((stop_program - start_program)/60))

In [ ]:
print('ClickHouse')
res = ClickHouse.query(c_q1, 60, rangesUnit, n_it)
res = round(res[0][0],2), round(res[1][0],2)
print(str(res[0])+'$\\pm$'+str(res[1]))

res = ClickHouse.query(c_q2, 60, rangesUnit, n_it)
res = round(res[0][0],2), round(res[1][0],2)
print(str(res[0])+'$\\pm$'+str(res[1]))

res = ClickHouse.query(c_q3, 60, rangesUnit, n_it)
res = round(res[0][0],2), round(res[1][0],2)
print(str(res[0])+'$\\pm$'+str(res[1]))

res = ClickHouse.query(c_q4, 60, rangesUnit, n_it, n_st = 5)
res = round(res[0][0],2), round(res[1][0],2)
print(str(res[0])+'$\\pm$'+str(res[1]))

print('Druid')
print(Druid_Wide.query(dw_q1, 60, 'hour', n_it))
print(Druid_Wide.query(dw_q2, 60, 'hour', n_it))
print(Druid_Wide.query(dw_q3, 60, 'hour', n_it))
print(Druid_Wide.query(dw_q4, 60, 'hour', n_it, n_st = 5))
#         results["druid"].append(Druid.query(d_q4, duration, rangesUnit, n_it, n_st = 5)[0][-1])

print('ExtremeDB')
print(EXtremeDB.query(e_q1, 60, rangesUnit, n_it))
print(EXtremeDB.query(e_q2, 60, rangesUnit, n_it))
print(EXtremeDB.query(e_q3, 60, rangesUnit, n_it))
print(EXtremeDB.query(e_q4, 60, rangesUnit, n_it, n_st = 5))
print(EXtremeDB.query(e_q5, 60, rangesUnit, n_it, n_st = 5))

print('Influx')    
print(Influx.query(i_q1, 60, rangesUnit, n_it))
print(Influx.query(i_q2, 60, rangesUnit, n_it))
print(Influx.query(i_q3, 60, rangesUnit, n_it))
print(Influx.query(i_q4, 60, rangesUnit, n_it, n_st = 5))
print(Influx.query(i_q5, 60, rangesUnit, n_it, n_st = 5))

    
print('MonetDB')    
print(MonetDB.query(m_q1, 60, rangesUnit, n_it))
print(MonetDB.query(m_q2, 60, rangesUnit, n_it))
print(MonetDB.query(m_q3, 60, rangesUnit, n_it))
print(MonetDB.query(m_q4, 60, rangesUnit, n_it, n_st = 5))
#         results["monetdb"].append(MonetDB.query(m_q5, duration, rangesUnit, n_it, n_st = 5)[0][-1])


    
print('QuestDB')    
print(QuestDB.query(q_q1, 60, rangesUnit, n_it))
print(QuestDB.query(q_q2, 60, rangesUnit, n_it))
print(QuestDB.query(q_q3, 60, rangesUnit, n_it))
print(QuestDB.query(q_q4, 60, rangesUnit, n_it, n_st = 5))
print(QuestDB.query(q_q5, 60, rangesUnit, n_it, n_st = 5))

    
print('TimescaleDB')    
print(TimescaleDB.query(t_q1, 60, rangesUnit, n_it))
print(TimescaleDB.query(t_q2, 60, rangesUnit, n_it))
print(TimescaleDB.query(t_q3, 60, rangesUnit, n_it))
print(TimescaleDB.query(t_q4, 60, rangesUnit, n_it, n_st = 5))
print(TimescaleDB.query(t_q5, 60, rangesUnit, n_it, n_st = 5))