# Basic Queries D2

In [ ]:
import time
import statistics as stats
#import os
#os.system('sudo sync; echo 3 > /proc/sys/vm/drop_caches')
start_program = time.time()

In [ ]:
import random
import time
from tqdm import tqdm
import numpy as np
    
def str_time_prop(start, end, time_format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formatted in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))


def random_date(start, end, prop, dform = '%Y-%m-%dT%H:%M:%S'):
    return str_time_prop(start, end, dform, prop)
    
def get_list(elm, n_elm, max_r = 10, prefix = '', suffix = '', apostrophe = True):
    res = ''
    elms = random.sample(range(max_r), n_elm)
    for i in range(n_elm): 
        item = prefix + elm + str(elms[i]) +  suffix 
        if apostrophe: 
            item = "'" + item + "'"
        res += item 
        if i < n_elm - 1: 
            res += ", "
    return res

import math

def percentile(data, perc: int):
    size = len(data)
    return sorted(data)[int(math.ceil((size * perc) / 100)) - 1]

In [ ]:
query1, query2, query3, query4, query5 = [{},{}],[{},{}],[{},{}],[{},{}],[{},{}]

In [ ]:
# max_duration = {
#     1: 10,
#     2: 15,
#     3: 30,
#     4: 5,
#     5: 75
# }
max_duration = {
    1: 60,
    2: 60,
    3: 60,
    4: 60,
    5: 5
}
rangesUnit = {
    1: "day",
    2: "day",
    3: "day",
    4: "day",
    5: "day",
}

n_it = 10

In [ ]:
# random.seed(1)

set_st = [str(random.randint(0,9)) for i in range(500)]
set_s = [str(random.randint(0,99)) for i in range(500)]
set_date = [random.random() for i in range(500)]

# Druid

In [ ]:
# query = PyDruid('http://diufrm118:8083', 'druid/v2/')

# ts = query.timeseries(
#     datasource='d2',
#     granularity={"type": "duration", "duration": 5000},
#     aggregations={"value": stringfirst("value")},
#     intervals='2019-03-01/pt1h',
#     filter=Dimension('s') == 's4',
#     context={"skipEmptyBuckets": "false"}   
# )


# # print(ts)

# query.export_pandas()

# # query.execute(d_q5)
# # print((time.time()-start)*1000)

In [ ]:
# A simple class
# attribute
d_q1 = """select __time, "value" FROM d2 where id_station = 'st<stid>' and s='s<sid>' 
    and __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
    and __time < TIMESTAMP '<timestamp>'"""

d_q2 = """SELECT __time", value" FROM d2 WHERE  id_station = 'st<stid>' 
    AND __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit>  
    and __time < TIMESTAMP '<timestamp>' AND "value" > 0.95 AND s = 's<sid>'"""

d_q3 = """select id_station,AVG("value")  FROM d2 where __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> \
    and __time < TIMESTAMP '<timestamp>' and s = 's<sid>'
    GROUP BY id_station"""

d_q4 = """SELECT "id_station", TIME_EXTRACT(__time, 'YEAR')  AS "yearP",
    TIME_EXTRACT(__time, 'MONTH') AS "month", 
    TIME_EXTRACT(__time, 'DAY') AS "day", 
    TIME_EXTRACT(__time, 'HOUR') AS "hour", 
    AVG("value") 
    FROM d2 where __time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
    AND __time < TIMESTAMP '<timestamp>' 
    AND s = 's<sid>'
    and id_station in <stid>
    GROUP BY 1,2,3,4,5"""

d_q5 = """
{
  "queryType": "timeseries",
  "dataSource": "d2",
  "granularity": {"type": "duration", "duration": 5000},
    "filter": {
    "type": "and",
    "fields": [
      {
        "type": "in",
        "dimension": "id_station",
        "values": ['st3', 'st7', 'st9', 'st2', 'st2']
      },
      {
        "type": "selector",
        "dimension": "s",
        "value": "s47",
      }
    ]
  },
  "aggregations": [
    { "type": "doubleFirst", "name": "value", "fieldName": "value" }
  ],
  "intervals": [ "2019-03-01T00:00:00.000/2019-03-04T00:00:00.000" ],
  "context" : {
    "skipEmptyBuckets": "false"
  }
}


"""
#druid = Druid()

In [ ]:
from pydruid.client import *
from pylab import plt
from pydruid.db import connect
from pydruid.utils.aggregators import *
from pydruid.utils.filters import *

class Druid:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        conn = connect(host='diufrm102', port=8082, path='/druid/v2/sql/', scheme='http')
        curs = conn.cursor()
        curs.execute("select * FROM d2 where id_station in ('st5') and s='s14' and __time > TIMESTAMP '2019-03-04 00:00:00' - INTERVAL '1' DAY and __time < TIMESTAMP '2019-03-04 00:00:00' ")
        curs.fetchall()
        results = [[],[]]
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(n_it):
                date = random_date("2019-04-01 00:00:00", "2019-05-01 00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%d %H:%M:%S')
                temp = query.replace("<timestamp>", date)
                temp = temp.replace("<nb>", str(duration))
                temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
                if n_st == 1: 
                    temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
                else: 
                    li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                    q = '(' + "'" + li[0] + "'"
                    for i in li[1:]:
                        q += ',' + "'" + i + "'"
                    q += ")"
                    temp = temp.replace("<stid>", q)
                temp = temp.replace("<rangesUnit>", str(rangesUnit))
                start = time.time()
                print(temp)
                curs.execute(temp)
                curs.fetchall()
                #print(temp, curs.rowcount)
                diff = (time.time()-start)*1000
                runtimes.append(diff)
#                 print(temp, diff)
            #print(runtimes)
            #print(temp)
            results[0].append(stats.mean(runtimes))
            results[1].append(stats.stdev(runtimes))
#             results[1].append(stats.stdev(runtimes))
        conn.close()
        return results[0],results[1]
    
    def query5(max_d, rangesUnit, n_it):
        results = [[],[]]
        query = PyDruid('http://diufrm102:8083', 'druid/v2/')
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(n_it):
                start = time.time()
                date = random_date("2019-03-01T00:00:00", "2019-04-01T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
                query.timeseries(
                    datasource='d2',
                    granularity={"type": "duration", "duration": 5000},
                    aggregations={"value": stringfirst("value")},
                    intervals= date + '/p' +  str(duration) + str(rangesUnit)[0],
                    filter=Dimension('s') == 's' + str(set_s[(duration*i)%500]),
                    context={"skipEmptyBuckets": "false"}   
                )
                print(date + '/p' +  str(duration) + str(rangesUnit)[0])
                diff = (time.time()-start)*1000
                runtimes.append(diff)
            print(runtimes)
            results[0].append(stats.mean(runtimes))
            results[1].append(stats.stdev(runtimes,85))
#             results[1].append(stats.stdev(runtimes))
        return results[0], results[1]

In [ ]:
query1[0]["druid"],query1[1]["druid"] = Druid.query(d_q1, max_duration[1], rangesUnit[1], n_it)
query1[0]["druid"],query1[1]["druid"]

In [ ]:
query2[0]["druid"],query2[1]["druid"] = Druid.query(d_q2, max_duration[2], rangesUnit[2], n_it)

In [ ]:
query3[0]["druid"],query3[1]["druid"] = Druid.query(d_q3, max_duration[3], rangesUnit[3], n_it)

In [ ]:
query4[0]["druid"],query4[1]["druid"] = Druid.query(d_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)

In [ ]:
# query5[0]["druid"],query5[1]["druid"] = Druid.query(d_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)
# query5[0]["druid"],query5[1]["druid"]

In [ ]:
# Create lists for the plot
materials = ['q'+str(i) for i in range(1,5)]
x_pos = np.arange(len(materials))
for i in range(len(query1[0]["druid"])):
    CTEs = [query1[0]["druid"][i], query2[0]["druid"][i], query3[0]["druid"][i], query4[0]["druid"][i]]
    error = [query1[1]["druid"][i], query2[1]["druid"][i], query3[1]["druid"][i], query4[1]["druid"][i]]

    # Build the plot
    fig, ax = plt.subplots()
    ax.bar(x_pos, CTEs, yerr=error, align='center', alpha=0.5, ecolor='black', capsize=10, label = 'druid')
    ax.set_ylabel('Runtime')
    ax.set_xticks(x_pos)
    ax.set_xticklabels(materials)
    ax.yaxis.grid(True)
    
    plt.legend()
    plt.show()

# eXtremeDB

In [ ]:
# A simple class
# attribute
e_q1 = """select seq_search(t,<timestamp> - <nb> * <rangesUnit>,<timestamp>) as tt, s<sid>@tt FROM d2_v WHERE id_station = 'st<stid>';"""


e_q2 = """select seq_search(t,<timestamp> - <nb> * <rangesUnit>,<timestamp>) as tt, !seq_filter_search(s<sid>@tt > 0.95, tt) as fe, s<sid>@fe FROM d2_v WHERE id_station = 'st<stid>'; """


e_q3 = """SELECT id_station, ! seq_search(t,<timestamp> - <nb> * <rangesUnit>,<timestamp>) as tt, seq_avg(s<sid>@tt) FROM d2_v;""" # where id_station = 'st<stid>'


e_q4 = """select id_station, seq_search(t,<timestamp> - <nb> * <rangesUnit>, <timestamp>) as tt, t@tt/3600 as hour, seq_group_agg_dev(s<sid>@tt, t@tt/3600) FROM d2_v  where id_station in <stid>"""


e_q5 = """select seq_aprogres_datetime(<timestamp> -  <nb> * <rangesUnit>, 5, <nb> * <rangesUnit>) as ts5,seq_stretch(ts5,t,s<sid>) from d2_v where  id_station in <stid>;"""

In [ ]:
from tqdm import tqdm 
import exdb 
import datetime
exdb.init_runtime(debug = False, shm = False, disk = False, tmgr = 'mursiw', UsePerfmon = True)
con = exdb.connect('diufrm118', 5001)
curs = con.cursor()
res = []
for i in range(10):
    start = time.time()
    curs.execute("select seq_search(t,1555315999 - 12 * 86400,1555315999) as tt, !seq_filter_search(s87@tt > 0.95, tt) as fe, s87@fe FROM d2_v WHERE id_station = 'st4';")
    curs.fetchall()
    res.append((time.time()-start)*1000)
con.close()
print(res)

In [ ]:
class EXtremeDB:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        # map the inputs to the function blocks
        import exdb 
        import datetime
        exdb.init_runtime(debug = False, shm = False, disk = False, tmgr = 'mursiw')
        con = exdb.connect('diufrm118', 5001)
        curs = con.cursor()
        curs.execute("SELECT s23 FROM d2_v where id_station = 'st3'")
        curs.fetchall()
        results = [[],[]]
        options = {"day" : 60 * 60* 24,
                   "week" : 60 * 60* 24 * 7,
                   "minute" : 60,
                   "hour" : 60 * 60,
                   "second" : 1,
                   "month" : 60 * 60 * 24 * 30,
                   "year" :  60 * 60 * 24 * 30 * 12
        }
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(n_it):    
                date = random_date("2019-04-01 00:00:00", "2019-05-01 00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%d %H:%M:%S')
                date = int(time.mktime(datetime.datetime.strptime(date, '%Y-%m-%d %H:%M:%S').timetuple()))
                temp = query.replace("<timestamp>", str(date))
                temp = temp.replace("<nb>", str(duration))
                temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
                if n_st == 1: 
                    temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
                else: 
                    li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                    q = '(' + "'" + li[0] + "'"
                    for i in li[1:]:
                        q += ',' + "'" + i + "'"
                    q += ")"
                    temp = temp.replace("<stid>", q)
                temp = temp.replace("<rangesUnit>", str(options[rangesUnit]))
#                 print(temp)
                start = time.time()
                curs.execute(temp)
                # print(curs.rowcount)
                curs.fetchall()
                diff = (time.time()-start)*1000
                print(temp, diff)
                runtimes.append(diff )
            #print(runtimes)
            #print(temp)
            results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
            results[1].append(stats.stdev(runtimes))
        con.close()
        return results

In [ ]:
query1[0]["extreme"],query1[1]["extreme"] = EXtremeDB.query(e_q1, max_duration[1], rangesUnit[1], n_it)
query1[0]["extreme"],query1[1]["extreme"]

In [ ]:
query2[0]["extreme"],query2[1]["extreme"] = EXtremeDB.query(e_q2, max_duration[2], rangesUnit[2], n_it)
query2[0]["extreme"],query2[1]["extreme"]

In [ ]:
query3[0]["extreme"],query3[1]["extreme"] = EXtremeDB.query(e_q3, max_duration[3], rangesUnit[3], n_it)
query3[0]["extreme"],query3[1]["extreme"]

In [ ]:
query4[0]["extreme"],query4[1]["extreme"] = EXtremeDB.query(e_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)
query4[0]["extreme"],query4[1]["extreme"]

In [ ]:
query5[0]["extreme"],query5[1]["extreme"] = EXtremeDB.query(e_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)
query5[0]["extreme"],query5[1]["extreme"]

In [ ]:
 
plt.show

In [ ]:
# Create lists for the plot
materials = ['q'+str(i) for i in range(1,6)]
x_pos = np.arange(len(materials))
for i in range(len(query1[0]["extreme"])):
    CTEs = [query1[0]["extreme"][i], query2[0]["extreme"][i], query3[0]["extreme"][i], query4[0]["extreme"][i], query5[0]["extreme"][i]]
    error = [query1[1]["extreme"][i], query2[1]["extreme"][i], query3[1]["extreme"][i], query4[1]["extreme"][i], query5[0]["extreme"][i]]

    # Build the plot
    fig, ax = plt.subplots()
    ax.bar(x_pos, CTEs, yerr=error, align='center', alpha=0.5, ecolor='black', capsize=10, label = 'extreme')
    ax.set_ylabel('Runtime')
    ax.set_xticks(x_pos)
    ax.set_xticklabels(materials)
    ax.yaxis.grid(True)
    
    plt.legend()
    plt.show()

# Influx

In [ ]:
i_q1 = """select time, value FROM "d2"."autogen"."sensor" where "id_station" ='st<stid>' AND "s" ='s<sid>' AND time > '<timestamp>Z' - <nb><rangesUnit> AND  time < '<timestamp>Z'"""
i_q2 = """select time, value FROM "d2"."autogen"."sensor" where "id_station" ='st<stid>' AND "s" ='s<sid>' AND time > '<timestamp>Z' - <nb><rangesUnit> AND  time < '<timestamp>Z' and value > 0.95"""
i_q3 = """SELECT mean(value) FROM "d2"."autogen"."sensor" WHERE  "s" ='s<sid>' AND time > '<timestamp>Z' - <nb><rangesUnit> AND time < '<timestamp>Z' GROUP BY "id_station"  """
i_q4 = """SELECT first(id_station), mean(value) FROM "d2"."autogen"."sensor" WHERE time > '<timestamp>Z' - <nb><rangesUnit> AND s='s<sid>' and time < '<timestamp>Z' and <stid> GROUP BY id_station,time(1h)"""
i_q5 = """SELECT id_station, mean_value FROM (SELECT mean(value) as mean_value FROM "d2"."autogen"."sensor" WHERE time > '<timestamp>Z' - <nb><rangesUnit> AND time < '<timestamp>Z' AND s='s<sid>' and <stid> GROUP BY id_station,time(5s) FILL(0)) GROUP BY id_station"""

In [ ]:
import time
from influxdb import InfluxDBClient

class Influx:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        client = InfluxDBClient(host='diufrm118', port=8086, username='abdel')
        results = [[],[]]
        client.query("select * FROM \"d2\".\"autogen\".\"sensor\" where \"id_station\" ='st8' AND \"s\" ='s8' AND time > '2019-03-29T02:37:39Z' - 1d  AND  time < '2019-03-29T02:37:39Z'")
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(10):
                date = random_date("2019-04-01T00:00:00", "2019-05-01T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
                temp = query.replace("<timestamp>", date)
                temp = temp.replace("<nb>", str(duration))
                temp = temp.replace("<rangesUnit>", str(rangesUnit[0]))
                temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
                if n_st == 1: 
                    temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
                else: 
                    li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                    q = '(id_station =' + "'" + li[0] + "'"
                    for i in li[1:]:
                        q += ' OR '  + 'id_station =' + "'" + i + "'"
                    q += ")"
                    temp = temp.replace("<stid>", q)
                start = time.time()
                print(temp)
                result = client.query(temp)
#                 print(temp, diff)
                diff = (time.time()-start)*1000
                runtimes.append(diff)
#             print(runtimes)
            results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
            results[1].append(stats.stdev(runtimes))
        client.close()
        return results

In [ ]:
query1[0]["influx"],query1[1]["influx"] = Influx.query(i_q1, max_duration[1], rangesUnit[1], n_it)
query1[0]["influx"],query1[1]["influx"]

In [ ]:
query2[0]["influx"],query2[1]["influx"] = Influx.query(i_q2, max_duration[2], rangesUnit[2], n_it)

In [ ]:
query3[0]["influx"],query3[1]["influx"] = Influx.query(i_q3, max_duration[3], rangesUnit[3], n_it)

In [ ]:
query4[0]["influx"],query4[1]["influx"] = Influx.query(i_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)

In [ ]:
query5[0]["influx"],query5[1]["influx"] = Influx.query(i_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)

# MonetDB

In [ ]:
m_q1 = """select time, s<sid> FROM d2 where id_station='st<stid>' \
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> \
AND time < TIMESTAMP '<timestamp>'"""
m_q2 = """select time, s<sid> FROM d2 where id_station='st<stid>' 
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' AND s<sid>>0.95"""
m_q3 = """SELECT id_station, avg(s<sid>) FROM d2 
WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>'
GROUP BY id_station"""
m_q4 = """SELECT id_station, EXTRACT(YEAR FROM time) AS "year",
EXTRACT(MONTH FROM time) AS "month", 
EXTRACT(DAY FROM time) AS "day", 
EXTRACT(HOUR FROM time) 
AS "hour", AVG(s<sid>) AS avg_s<sid>
FROM d2 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>'
AND id_station in <stid>
GROUP BY id_station, "year", "month", "day", "hour" """
m_q5 = """"""

In [ ]:
import pymonetdb
import time

class MonetDB:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        connection = pymonetdb.connect(username="monetdb", port=54320, password="monetdb", hostname="diufrm118", database="mydb")
        cursor = connection.cursor()
        cursor.execute("""select time, s91 FROM d2 where id_station='st4' AND time > TIMESTAMP '2019-03-09T13:43:54' - INTERVAL '3' day AND time < TIMESTAMP '2019-03-09T13:43:54'""")
        cursor.fetchall()
        results = [[],[]]
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(n_it):
                date = random_date("2019-04-01T00:00:00", "2019-05-01T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
                temp = query.replace("<timestamp>", date)
                temp = temp.replace("<nb>", str(duration))
                temp = temp.replace("<rangesUnit>", str(rangesUnit))
                temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
                if n_st == 1: 
                    temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
                else: 
                    li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                    q = '(' + "'" + li[0] + "'"
                    for i in li[1:]:
                        q += ',' + "'" + i + "'"
                    q += ")"
                    temp = temp.replace("<stid>", q)
                start = time.time()
                cursor.execute(temp)
                cursor.fetchall()
                diff = (time.time()-start)*1000
#                 print(temp, diff)
                runtimes.append(diff)
            #print(temp)
            results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
            results[1].append(stats.stdev(runtimes))
        connection.close()
        return results

In [ ]:
query1[0]["monetdb"],query1[1]["monetdb"] = MonetDB.query(m_q1, max_duration[1], rangesUnit[1], n_it)
query1[0]["monetdb"],query1[1]["monetdb"]

In [ ]:
query2[0]["monetdb"],query2[1]["monetdb"] = MonetDB.query(m_q2, max_duration[2], rangesUnit[2], n_it)
query2[0]["monetdb"],query2[1]["monetdb"]

In [ ]:
query3[0]["monetdb"],query3[1]["monetdb"] = MonetDB.query(m_q3, max_duration[3], rangesUnit[3], n_it)
query3[0]["monetdb"],query3[1]["monetdb"]

In [ ]:
query4[0]["monetdb"],query4[1]["monetdb"] = MonetDB.query(m_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)
query4[0]["monetdb"],query4[1]["monetdb"]

query5[0]["monetdb"],query5[1]["monetdb"] = MonetDB.query(m_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)

# QuestDB

In [ ]:
q_q1 = """select ts, s<sid> FROM d2 where id_station='st<stid>' AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L """
q_q2 = """select ts, s<sid> FROM d2 where id_station='st<stid>' AND  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L and s<sid> > 0.95;"""
q_q3 = """SELECT id_station, avg(s<sid>) FROM d2 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L GROUP BY id_station;"""
q_q4 = """SELECT id_station, ts, avg(s<sid>) FROM d2 WHERE ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 1h;"""
# q_q5 = """SELECT id_station, ts, avg(s<sid>) FROM d2 WHERE ts IN '<timestamp>;<nb><rangesUnit>' SAMPLE BY 5s FILL(LINEAR) GROUP BY id_station,ts ORDER BY id_station, ts;"""
q_q5 = """SELECT id_station, ts, avg(s<sid>) FROM d2 WHERE  ts < '<timestamp>' AND ts >  '<timestamp>' - <nb>*<rangesUnit>* 1000000L AND id_station in <stid> SAMPLE BY 5s FILL(LINEAR) GROUP BY ts, id_station ORDER BY ts;"""

In [ ]:

class QuestDB:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        import psycopg2
        import time
        connection = psycopg2.connect(user="admin",
                                          password="quest",
                                          host="diufrm118",
                                          port="8812",
                                          database="d2")
        options = {"day" : 60 * 60* 24,
                   "week" : 60 * 60* 24 * 7,
                   "minute" : 60,
                   "hour" : 60 * 60,
                   "second" : 1,
                   "month" : 60 * 60 * 24 * 30,
                   "year" :  60 * 60 * 24 * 30 * 12
        }
        cursor = connection.cursor()
        cursor.execute("select ts, s9 FROM d2 where id_station='st4' AND ts IN '2019-03-23;1d'")
        cursor.fetchall()
        results = [[],[]]
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(n_it):
                date = random_date("2019-03-01", "2019-04-01", set_date[(duration*i)%500], dform = '%Y-%m-%d')
                temp = query.replace("<timestamp>", date+'T12:15')
                temp = temp.replace("<nb>", str(duration))
                temp = temp.replace("<rangesUnit>", str(options[rangesUnit]))
                temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
                if n_st == 1: 
                    temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
                else: 
                    li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                    q = '(' + "'" + li[0] + "'"
                    for i in li[1:]:
                        q += ',' + "'" + i + "'"
                    q += ")"
                    temp = temp.replace("<stid>", q)
                
                start = time.time()
                print(temp)
                cursor.execute(temp)
                cursor.fetchall()
                #print(temp, cursor.rowcount)
                #print(len)
                diff = (time.time()-start)*1000
#                 print(temp, diff)
                runtimes.append(diff)
#             print(temp)
            results[0].append(stats.mean(runtimes))
            print(runtimes)
#             results[1].append(percentile(runtimes,85))
            results[1].append(stats.stdev(runtimes))
        connection.close()
        return results

In [ ]:
query1[0]["questdb"],query1[1]["questdb"] = QuestDB.query(q_q1, max_duration[1], rangesUnit[1], n_it)
query1[0]["questdb"], query1[1]["questdb"]

In [ ]:
query2[0]["questdb"],query2[1]["questdb"] = QuestDB.query(q_q2, max_duration[2], rangesUnit[2], n_it)
query2[0]["questdb"],query2[1]["questdb"]

In [ ]:
query3[0]["questdb"],query3[1]["questdb"] = QuestDB.query("SELECT id_station, avg(s51) FROM d2 WHERE ts > '2019-03-28' GROUP BY id_station;", max_duration[3], rangesUnit[3], n_it)
query3[0]["questdb"],query3[1]["questdb"]

In [ ]:
query3[0]["questdb"],query3[1]["questdb"] = QuestDB.query(q_q3, max_duration[3], rangesUnit[3], n_it)
query3[0]["questdb"],query3[1]["questdb"]

In [ ]:
query4[0]["questdb"],query4[1]["questdb"] = QuestDB.query(q_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)
query4[0]["questdb"],query4[1]["questdb"]

In [ ]:
query5[0]["questdb"],query5[1]["questdb"] = QuestDB.query(q_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)
query5[0]["questdb"],query5[1]["questdb"]

# TimescaleDB

In [ ]:
t_q1 = """select time, s<sid> FROM d2 where id_station='st<stid>'
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>';"""

t_q2 = """select time, s<sid> FROM d2 where id_station='st<stid>'
AND time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' and s<sid> > 0.95;"""

t_q3 = """SELECT id_station, avg(s<sid>) FROM d2 
WHERE time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' 
GROUP BY id_station;"""

t_q4 = """SELECT id_station, EXTRACT(YEAR FROM time) AS "year",
date_trunc('month', time) AS "month", 
date_trunc('DAY', time) AS "day", 
date_trunc('HOUR', time) AS "hour", 
AVG(s<sid>) AS avg_s<sid>
FROM d2 where  time > TIMESTAMP '<timestamp>' - INTERVAL '<nb>' <rangesUnit> 
AND time < TIMESTAMP '<timestamp>' 
GROUP BY id_station, "year", "month", "day", "hour";"""

t_q5 = """SELECT
  time_bucket_gapfill('5 second', time) AS NEWTIME,
  id_station,
  avg(s<sid>) AS avg_value,
  interpolate(avg(s<sid>))
FROM d2
WHERE time < '<timestamp>' AND time > timestamp '<timestamp>' - interval '<nb> <rangesUnit>'
AND id_station in <stid> 
GROUP BY NEWTIME, id_station
ORDER BY NEWTIME;"""

In [ ]:

class TimescaleDB:
 
    # A sample method 
    @staticmethod
    def query(query, max_d, rangesUnit, n_it, n_st = 1):
        import psycopg2
        CONNECTION = "postgres://postgres:postgres@diufrm118:5432/postgres"
        conn = psycopg2.connect(CONNECTION)
        cursor = conn.cursor()
        cursor.execute("select time, s4 FROM d2 where id_station='st1' AND time > TIMESTAMP '2019-03-06T16:57:36' - INTERVAL '1' day AND time < TIMESTAMP '2019-03-06T16:57:36';")
        cursor.fetchall()
        results = [[],[]]
        for duration in tqdm(range(int(max_d/5), max_d + 1, int(max_d/5))):
            runtimes = []
            for i in range(n_it):
                date = random_date("2019-04-01T00:00:00", "2019-05-01T00:00:00", set_date[(duration*i)%500], dform = '%Y-%m-%dT%H:%M:%S')
                temp = query.replace("<timestamp>", date)
                temp = temp.replace("<nb>", str(duration))
                temp = temp.replace("<rangesUnit>", str(rangesUnit))
                temp = temp.replace("<sid>", str(set_s[(duration*i)%500]))
                if n_st == 1: 
                    temp = temp.replace("<stid>", str(set_st[(duration*i)%500]))
                else: 
                    li = ['st' + str(set_st[(duration*i)%500]) for i in range(n_st)]
#                     print(li)
                    q = '(' + "'" + li[0] + "'"
                    for i in li[1:]:
                        q += ',' + "'" + i + "'"
                    q += ")"
                    temp = temp.replace("<stid>", q)
                
                
                start = time.time()
                cursor.execute(temp)
                cursor.fetchall()
                diff = (time.time()-start)*1000
                #print(temp, diff)
                runtimes.append(diff)
            #print(temp)
            results[0].append(stats.mean(runtimes))
#             results[1].append(percentile(runtimes,85))
            results[1].append(stats.stdev(runtimes))
        conn.close()
        return results

In [ ]:
query1[0]["timescaledb"],query1[1]["timescaledb"] = TimescaleDB.query(t_q1, max_duration[1], rangesUnit[1], n_it)
query1[0]["timescaledb"],query1[1]["timescaledb"]

In [ ]:
query2[0]["timescaledb"],query2[1]["timescaledb"] = TimescaleDB.query(t_q2, max_duration[2], rangesUnit[2], n_it)
query2[0]["timescaledb"],query2[1]["timescaledb"]

In [ ]:
query3[0]["timescaledb"],query3[1]["timescaledb"] = TimescaleDB.query(t_q3, max_duration[3], rangesUnit[3], n_it)
query3[0]["timescaledb"],query3[1]["timescaledb"]

In [ ]:
query4[0]["timescaledb"],query4[1]["timescaledb"] = TimescaleDB.query(t_q4, max_duration[4], rangesUnit[4], n_it, n_st = 5)
query4[0]["timescaledb"],query4[1]["timescaledb"]

In [ ]:
query5[0]["timescaledb"],query5[1]["timescaledb"] = TimescaleDB.query(t_q5, max_duration[5], rangesUnit[5], n_it, n_st = 5)
query5[0]["timescaledb"],query5[1]["timescaledb"]

# Plot Results

In [ ]:
colors = ['r', 'b', 'g', 'm', 'c', 'y']
colors_dic = {}
for i in range(len(list(query1[0].keys()))): 
    colors_dic[list(query1[0].keys())[i]] = colors[i]
colors = colors_dic
queries = [query1, query2, query3, query4, query5]

for q in queries:
    plt.figure()
    pp = []
    for i in range(len(q[0].keys())):
        sys = list(q[0])[i]
        x = [j for j in range(int(max_duration[1]/5), max_duration[1] + 1, int(max_duration[1]/5))]
        y = q[0][sys]
        yerr = q[1][list(q[0])[i]]
        p = plt.plot(x, y, '-', color='%s' % colors[sys])
        plt.yscale('log')
        pp.append(p[0])
        plt.errorbar(x, y=y, yerr=yerr, color='%s' % colors[sys]) 
    plt.legend(pp, q[0].keys(), numpoints=1)
    plt.plot()


#     fig = plt.figure()
#     plt.errorbar(np.arange(len(query1[0][k])), query1[0][k], yerr=query1[1][k], label = k)

In [ ]:
import pandas as pd
dfs = [
    pd.DataFrame.from_dict(query1[1],orient='index').transpose(),
    pd.DataFrame.from_dict(query2[1],orient='index').transpose(),
    pd.DataFrame.from_dict(query3[1],orient='index').transpose(),
    pd.DataFrame.from_dict(query4[1],orient='index').transpose(),
    pd.DataFrame.from_dict(query5[1],orient='index').transpose()
]

In [ ]:
import numpy as np
for i in range(len(dfs)): 
    rang = [j for j in range(int(max_duration[1+i]/5), max_duration[1+i] + 1, int(max_duration[1+i]/5))]
    dfs[i].index = np.array(rang)
    dfs[i].set_index([pd.Index(rang)]).plot(title='query' + str(i+1), xlabel='window range ('+rangesUnit[i+1] + ')', ylabel='time (ms)', logy = True,kind = 'line')
    print(dfs[i].head())
    dfs[i].to_csv('results/q'+str(i)+'.txt', sep = '\t')

query1["druid"]

import numpy as np
import matplotlib.pyplot as plt


fig = plt.figure()

plt.errorbar(np.arange(len(query1["druid"][0])), query1["druid"][0], yerr=query1["druid"][1], title='query1')

plt.legend(loc='lower right')

In [ ]:
stop_program = time.time()

In [ ]:
print('Benchmark Runtime: %s minutes' % str((stop_program - start_program)/60))

In [ ]:
# import PyGnuplot as gp
# import numpy as np
# X = np.arange(10)
# Y = np.sin(X/(2*np.pi))
# Z = Y**2.0
# gp.s([X,Y,Z])
# gp.c('plot "tmp.dat" u 1:2 w lp')
# gp.c('replot "tmp.dat" u 1:3 w lp')
# gp.p('myfigure.ps')

In [ ]:

# db1 = exdb.open_database("d2_v")
# print(db1)
# con1 = db1.connect();
# cursor = con1.cursor()
# cursor.execute("SELECT count(*) FROM d2_v")
# res = cursor.fetchall()